
[(#REM) Si objet éditorial ]
#SET{objet,#ENV{type-page}}
#SET{id_objet,#ENV{#GET{objet}|id_table_objet}}

[(#REM) Seulement s'il y a des attributs de recommandations sur ce contenu ]
<BOUCLE_attributs (recommandations_attributs_liens) {objet=#GET{objet}}{id_objet=#GET{id_objet}}{0,1}>
	
#SET{id_secteur_webdoc, 0}
<BOUCLE_recherche_webdoc (RUBRIQUES) {tout} {id_parent=0} {composition=webdoc} {0,1}>
#SET{id_secteur_webdoc, #ID_RUBRIQUE}
</BOUCLE_recherche_webdoc>

#SET{id_secteur_vitrines, 0}
<BOUCLE_recherche_vitrines (RUBRIQUES) {tout} {id_parent=0} {composition=vitrines} {0,1}>
#SET{id_secteur_vitrines, #ID_RUBRIQUE}
</BOUCLE_recherche_vitrines>

[(#REM) Si on est sur un article, ne rien recommander de la même rubrique directe ]
#SET{exclure_id_rubrique, 0}
[(#GET{objet}|=={article}|oui)
	#SET{id_rubrique, #INFO_ID_RUBRIQUE{article, #GET{id_objet}}}
	#SET{est_vitrines, #GET{id_rubrique}|=={#GET{id_secteur_vitrines}}|oui}
	#SET{exclure_id_rubrique, #GET{id_rubrique}}
	
	[(#REM) Est-ce qu'il y a un article suivant ou précédent ?]
	#SET{moins_webdoc, 0}
	#SET{moins_vitrines, 0}
	#SET{moins_quoi, #GET{est_vitrines}|?{moins_vitrines,moins_webdoc}}
	<BOUCLE_article_suivant (ARTICLES) {id_rubrique=#GET{id_rubrique}} {par num titre, titre} {suivant}>
	#SET{suivant, #ARRAY{objet, article, id_objet, #ID_ARTICLE}}
	#SET{#GET{mois_quoi}, #GET{#GET{mois_quoi}}|plus{1}}
	</BOUCLE_article_suivant>
	<BOUCLE_article_precedent (ARTICLES) {id_rubrique=#GET{id_rubrique}} {par num titre, titre} {precedent}>
	#SET{precedent, #ARRAY{objet, article, id_objet, #ID_ARTICLE}}
	#SET{#GET{mois_quoi}, #GET{#GET{mois_quoi}}|plus{1}}
	</BOUCLE_article_precedent>
]

#SET{exclure_id_itineraire, 0}
[(#GET{objet}|=={itineraires_etape}|oui)
	#SET{exclure_id_itineraire, #INFO_ID_ITINERAIRE{itineraires_etape, #GET{id_objet}}}
	
	[(#REM) Est-ce qu'il y a une étape suivante ou précédente ?]
	#SET{moins_etapes, 0}
	<BOUCLE_etape_suivante (ITINERAIRES_ETAPES) {id_itineraire=#INFO_ID_ITINERAIRE{itineraires_etape, #GET{id_objet}}} {par rang} {suivant}>
	#SET{suivant, #ARRAY{objet, itineraires_etape, id_objet, #ID_ITINERAIRES_ETAPE}}
	#SET{moins_etapes, #GET{moins_etapes}|plus{1}}
	</BOUCLE_etape_suivante>
	<BOUCLE_etape_precedente (ITINERAIRES_ETAPES) {id_itineraire=#INFO_ID_ITINERAIRE{itineraires_etape, #GET{id_objet}}} {par rang} {precedent}>
	#SET{precedent, #ARRAY{objet, itineraires_etape, id_objet, #ID_ITINERAIRES_ETAPE}}
	#SET{moins_etapes, #GET{moins_etapes}|plus{1}}
	</BOUCLE_etape_precedente>
]

#SET{combien, 4}
#SET{reco_webdoc, #ID_OBJET|recommandations{#OBJET, #ARRAY{limite, #GET{combien}|moins{#GET{moins_webdoc}}, algo, jaccard, inclure_objets, #LISTE{article}, id_secteur, #GET{id_secteur_webdoc}, exclure_id_rubrique, #GET{exclure_id_rubrique}}}}
#SET{reco_vitrines, #ID_OBJET|recommandations{#OBJET, #ARRAY{limite, #GET{combien}|moins{#GET{moins_vitrines}}, algo, jaccard, inclure_objets, #LISTE{article}, id_secteur, #GET{id_secteur_vitrines}}}}
#SET{reco_etapes, #ID_OBJET|recommandations{#OBJET, #ARRAY{limite, #GET{combien}|moins{#GET{moins_etapes}}, algo, jaccard, inclure_objets, #LISTE{itineraires_etape}, exclure_id_itineraire, #GET{exclure_id_itineraire}}}}
#SET{reco_docs, #ID_OBJET|recommandations{#OBJET, #ARRAY{limite, #GET{combien}, algo, jaccard, inclure_objets, #LISTE{document}}}}

#SET{reco, #GET{reco_webdoc}|array_merge{#GET{reco_vitrines}, #GET{reco_etapes}, #GET{reco_docs}}}

[(#REM) S'il y a un suivant, on le met en premier ]
[(#GET{suivant}|oui)
	#SET{reco, #GET{reco}|array_splice{0, 0, #LISTE{#GET{suivant}}}}
]
[(#REM) S'il y a un précédent, on le met au milieu ]
[(#GET{precedent}|oui)
	#SET{reco, #GET{reco}|array_splice{#GET{reco}|count|div{2}|round{}, 0, #LISTE{#GET{precedent}}}}
]

<div id="exploration">
	[(#GET{reco}|oui)
		<INCLURE{fond=inclure/lists/objets,
			titre=Recommandations,
			objets=#GET{reco},
			pagination=10000,
			masquer=#LISTE{publication, introduction, etiquettes, message_aucun},
			class=container list_columns_2 list_left,
		}>
	]
	
	[(#REM) 
	<div id="exploration__roue" style="width:100%; max-width:500px; height:500px;"
		data-wheelnav 
		data-wheelnav-navangle="0"
		data-wheelnav-slicepath="MenuSlice" 
		data-wheelnav-colors="white" 
		data-wheelnav-rotateoff
		data-wheelnav-spreader
		data-wheelnav-spreaderradius="50"
		data-wheelnav-spreaderpath="PieSpreader"
	>
		<div data-wheelnav-navitemimg="#CHEMIN{marsimperium_squelettes.png}" title="1"></div>
		<div data-wheelnav-navitemimg="#CHEMIN{marsimperium_squelettes.png}" title="2"></div>
		<div data-wheelnav-navitemimg="#CHEMIN{marsimperium_squelettes.png}" title="3"></div>
		<div data-wheelnav-navitemimg="#CHEMIN{marsimperium_squelettes.png}" title="4"></div>
		<div data-wheelnav-navitemimg="#CHEMIN{marsimperium_squelettes.png}" title="5"></div>
		<div data-wheelnav-navitemimg="#CHEMIN{marsimperium_squelettes.png}" title="6"></div>
		<div data-wheelnav-navitemimg="#CHEMIN{marsimperium_squelettes.png}" title="7"></div>
		<div data-wheelnav-navitemimg="#CHEMIN{marsimperium_squelettes.png}" title="8"></div>
		<div data-wheelnav-navitemimg="#CHEMIN{marsimperium_squelettes.png}" title="9"></div>
		<div data-wheelnav-navitemimg="#CHEMIN{marsimperium_squelettes.png}" title="10"></div>
		<div data-wheelnav-navitemimg="#CHEMIN{marsimperium_squelettes.png}" title="11"></div>
		<div data-wheelnav-navitemimg="#CHEMIN{marsimperium_squelettes.png}" title="12"></div>
		<div data-wheelnav-navitemimg="#CHEMIN{marsimperium_squelettes.png}" title="13"></div>
		<div data-wheelnav-navitemimg="#CHEMIN{marsimperium_squelettes.png}" title="14"></div>
		<div data-wheelnav-navitemimg="#CHEMIN{marsimperium_squelettes.png}" title="15"></div>
		<div data-wheelnav-navitemimg="#CHEMIN{marsimperium_squelettes.png}" title="16"></div>
	</div>
	<script type="module">
		let roue = new wheelnav("exploration__roue");
		//~ roue.slicePathCustom = {
			//~ menuRadius: 35,                  // Rayon de la bulle
			//~ titleRadiusPercent: 0.63,       // Position du titre
			//~ isSelectedLine: false,          // Pas de ligne supplémentaire pour les éléments sélectionnés
			//~ lineBaseRadiusPercent: 0        // **Traits droits (pas de base en arc)**
		//~ };
		//~ roue.createWheel();
	</script>
	
	[(#CHEMIN{images/navigation.jpg}|balise_img)]
	
	]
</div>
</BOUCLE_attributs>
