<BOUCLE_annuaire_head(ANNUAIRES) {id_annuaire}>
<title>[(#TITRE|textebrut) - ][(#NOM_SITE_SPIP|textebrut)]</title>
[<meta name="description" content="(#DESCRIPTIF|couper{150}|attribut_html)" />]
[<link rel="canonical" href="(#URL_ANNUAIRE|url_absolue)" />]

[<link rel="icon" type="image/x-icon" href="(#CHEMIN{favicon.ico}|url_absolue_si)" />
[<link rel="shortcut icon" type="image/x-icon" href="(#CHEMIN{favicon.ico}|url_absolue_si)" />]]
</BOUCLE_annuaire_head>
