<BOUCLE_organisation_head(ORGANISATIONS) {id_organisation}>
<title>[(#NOM|textebrut) - ][(#NOM_SITE_SPIP|textebrut)]</title>
[<meta name="description" content="(#TEXTE|couper{150}|attribut_html)" />]
[<link rel="canonical" href="(#URL_ORGANISATION|url_absolue)" />]

[<link rel="icon" type="image/x-icon" href="(#CHEMIN{favicon.ico}|url_absolue_si)" />
[<link rel="shortcut icon" type="image/x-icon" href="(#CHEMIN{favicon.ico}|url_absolue_si)" />]]
</BOUCLE_organisation_head>