/**
 * Module : cartouche
 */

.account {
	display: flex;
	flex-flow: column;
	margin-top: spacing(6);
	margin-bottom: spacing(6);
	// color: var(--color-secondary);

	// Titre et sous-titre
	&__title {
		flex: 0 0 100%;
		font-family: setting(font-family-headings);
		font-weight: normal;
		text-align: center;
		color: var(--color-primary);

		&:only-child {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	
	.menu-items {
		@extend .tabs__menu;
	}
	.menu-items__item {
		@extend .tabs__menu-item;
	}
	.menu-items__item_active {
		@extend .tabs__menu-item_active;
	}
	.menu-items__value {
		@extend .tabs__menu-title;
	}
	
	@include g-state( tablet ) {
		&__title {
			font-size: 3em;
		}
	}
}
