/**
 * Les styles pour personnaliser les cartes de GIS
 */

// Les marqueurs dont l'images a été traitées depuis un logo
.leaflet-marker-icon[src*=local] {
	border-radius: 100%;
	border: 4px solid white;
}

.marker-itineraires_etape {
	background-color: var(--color-primary);
	color: white;
	border: 2px solid white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	
	&-first {
		background-color: white;
		color: var(--color-primary);
		border-color: var(--color-primary);
	}
	&-last {
		background-color: var(--color-secondary);
	}
}
