/**
 * Module : cartouche
 */

.cartouche {
	background-color: var(--color-secondary);
	color: white;
	
	&__inner {
		display: flex;
		flex-flow: row;
		width: 100%;
		max-width: setting(container-base);
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}
	// Logo
	&__media {
		display: flex;
		flex-flow: column;
		justify-content: center;
		background-color: var(--color-primary);
		padding: spacing(0.5);
		text-align: left;

		img {
			//width: 100%; // Tant pis pour les timbres postes
		}
		svg {
			height: auto;
			width: spacing(1.5);
			path, polygon {
				fill: white !important;
			}
		}
	}

	// Corps
	&__body {
		padding: spacing(0.5);
	}

	// Titre et sous-titre
	&__titre {
		flex: 0 0 100%;
		font-family: setting(font-family-headings);
		font-size: font-size-heading(4);
		color: white;
		margin: 0;

		&:only-child {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	&__surtitre, &__soustitre {
		font-family: setting(font-family-text);
		font-weight: normal;
		font-size: 0.66rem;
		text-transform: uppercase;
	}
	&__texte {
		margin-top: spacing(2);
	}
	
	.formulaire_spip {
		margin-top: spacing(2);
	}
	
	a {
		color: white;
	}

	// Postmeta : voir aussi ci-dessous
	&__postmeta {
		display: flex;
		align-items: center;
	}

	// Social : voir aussi dans _social.scss
	&__social {
		margin-bottom: spacing();
		display: flex;

		&:before {
			content: '•';
			padding: 0 0.5em;
		}
	}
	
	@include g-state( tablet ) {
		&__media {
			padding: spacing();
			
			svg {
				width: spacing(3.5);
			}
		}
		&__body {
			padding: spacing();
		}
		&__titre {
			font-size: font-size-heading(3);
		}
		&__surtitre, &__soustitre {
			font-size: 0.8em;
		}
	}
}
