/**
 * Module : feature
 */

.feature {

	@extend .link-block-wrapper;

	// Centrons tout
	display: flex;
	flex-flow: column;
	align-items: center;

	// Image : si format svg, il est embarqué dans le html
	&__media {
		transition: all 0.2s;
	}
	svg {
		path {
			fill: var(--color-primary);
			//stroke: var(--color-primary);
			transition: all 0.2s;
		}
	}
	img {
		border-radius: 99em;
	}

	&__title {
		font-family: setting(font-family-headings);
		font-weight: bold;
		font-size: font-size-heading(4);
		text-align: center;
		max-width: 10em;
	}

	&__content {
		font-family: setting(font-family-alt);
		font-style: italic;
	}

	a {
		text-decoration-thickness: 0.1rem;

		&:not(:hover):not(:focus) {
			color: inherit;
		}
	}

	// Hover
	&:hover,
	&:focus {
		.feature__media {
			// transform: skew(10deg) rotateZ(10deg);
			@extend .animate_bounce;
		}
		svg {
			path {
				fill: var(--color-link-hover);
				//stroke: var(--color-link-hover);
			}
		}
	}

}
