
.fullcontent {
	display: flex;
	flex-flow: column;
/*
	&__title {
		text-align: center;
	}
*/
	&__media {
		background-color: var(--color-primary);
		position: relative;
		
		.descriptif {
			@extend .container;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 2;
			background-color: var(--color-darkest);
			color: white;
			opacity: 0.8;
			padding: 0;
			padding-top: spacing();
			padding-bottom: spacing();
			
			&__titre {
				text-align: center;
				font-style: italic;
				font-size: 1.2em;
			}
			p {
				@extend .container_text;
				margin-top: 0;
				margin-bottom: 0;
				max-width: calc(#{setting(container-text)} + 10rem);
			}
		}
		
		.spip_doc_inner, .spip_doc_lien {
			display: flex;
		}
		.spip_document, .spip_doc_inner {
			margin-top: 0;
			margin-bottom: 0;
		}
		.oembed {
			width: 100%;
			max-width: 100% ! important;
			background: none;
			border: 0;
			padding: 0;
		}
		.spip_document {
			max-width: setting(container-base) !important; // surcharger cette saloperie de taille en dur dans le HTML
			margin-left: auto;
			margin-right: auto;
			padding: 0;
			
			img,svg {
				max-height: none;
			}
		}
		.spip_doc_legende {
			display: none;
		}
	}
	
	&__menu {
		position: sticky;
		top: 0;
		z-index: 10;
		background-color: var(--color-darkest);
		font-size: 0.6em;
		text-transform: uppercase;
		border-bottom: 1px solid var(--color-primary);
		box-shadow:
			0 0 0.75em rgba(0, 0, 0, 0.5),
			0 0 0.5em rgba(0, 0, 0, 0.075);
		
		.menu-items {
			&_folding {
				@extend .container;
				margin-top: 0;
				margin-bottom: 0;
				justify-content: center;
			}
			
			// Que pour le premier niveau 
			&__topitem {
				> a {
					text-transform: upper-case;
				}
			}
			&__panel {
				background-color: var(--color-darkest);
				border-radius: 0 0 setting(radius) setting(radius);
				font-size: 0.9em;
				
				.menu-items__item:not(:last-child) {
					padding-bottom: spacing(0.5);
					border-bottom: 2px solid var(--color-link);
					margin-bottom: spacing(0.5);
				}
			}
		}
		a {
			display: flex;
			color: white;
			
			&:hover, &:focus {
				color: var(--color-link);
				background-color: transparent;
				text-decoration: none;
			}
		}
	}
	
	&__slider {
		background-color: var(--color-secondary);
		
		.gallery {
			@extend .container;
			
			&__item {
				background-color: white;
				border-radius: setting(radius);
				border: 3px solid white;
				margin: spacing(0.5);
				overflow: visible;
			}
		}
		
		.preview {
			margin: 0;
			padding: 0;
			overflow: visible;
			
			&__title {
				height: 1px;
				width: 1px;
				overflow: hidden;
				margin: 0;
			}
			&__body {
				padding: 0;
			}
			&__plateforme {
				top: -0.5rem;
				left: auto;
				right: 0;
				border-width: 2px;
				transform: scale(75%);
			}
			[itemprop="position"]::before {
				top: -0.5rem;
				left: auto;
				right: -1rem;
				border-width: 2px;
				transform: scale(75%);
			}
		}
	}
	
	&__body {
	}
	.chapo {
		@extend .container_text;
		max-width: calc(#{setting(container-text)} + 10rem);
	}
	.text_fold {
		//@extend .container_text;
		margin-top: spacing();
		margin-bottom: spacing();
	}	
	.texte {
		overflow: hidden;
		max-height: 10000em;
		transition: max-height 1s ease-in-out;
		
		&.folded {
			mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
			filter: blur(2px);
			max-height: spacing(6);
			transition: max-height 1s ease-out;
		}
		
		&+button {
			@extend .button_link;
			font-family: setting(font-family-headings);
			display: block;
			margin: 0 auto;
			margin-top: spacing();
			
			position: relative;
			border-top: 2px solid var(--color-link);
			overflow: visible;
			&:before {
				content: "";
				position: absolute;
				width: 0.5em;
				height: 0.5em;
				left: 50%;
				margin-left: -0.25em;
				top: calc(-0.25em - 2px);
				background-color: white;
				border-top: 2px solid var(--color-link);
				border-left: 2px solid var(--color-link);
				transform: rotateZ(45deg);
			}
		}
		&.folded+button {
			border-top:0;
			border-bottom: 2px solid var(--color-link);
			&:before {
				top: auto;
				bottom: calc(-0.25em - 2px);
				transform: rotateZ(-135deg);
			}
		}
		
		.sommaire-section_h2{
			@extend .container;
			padding-top: spacing(1.5);
			
			&:nth-child(2n) {
				background-color: #ededed;
			}
		}
		
		:not(blockquote) > p, blockquote, ul.spip, ol.spip, pre, h2, h3, h4, h5, h6 {
			@extend .container_text;
			
			@at-root .fullcontent .texte & {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	
	// Lettrine sur le premier vrai paragraphe de chaque chapitre 
	.sommaire-section_niveau1 > p:first-of-type {
		clear: left;
		
		&:first-letter {
			font-size: 6em;
			font-weight: bold;
			color: var(--color-primary);
			float: left;
			padding-right: spacing(0.5);
			line-height: 1;
		}
	}
	
	#bibliographie p {
		font-size: 0.8em;
	}
}
