/**
 * Module : galerie
 */

.gallery {

	// =========
	// Variantes
	// =========

	// Simple
	// Todo : dépacer les trucs mutualisés à la racine
	&_simple {

		// Image mise en avant
		.gallery__zoom {
			margin-bottom: spacing(1/2);
			display: flex;
			justify-content: center;
		}

		// Liste de miniatures
		.gallery__items {
			@extend .list_none;
			display: flex;
			flex: row wrap;
			justify-content: center;

			// Miniature
			.gallery__item {
				margin-right: spacing(1/2);
				margin-bottom: spacing(1/2);
				text-align: center;
			}
		}
	}

}