/**
 * Module : illustrations et galeries
 */

// Toutes les images
img {
	max-width: 100%;
	height: auto;
	width: auto;
}
figure {
	margin: 0;
}

// =================================
// Documents insérés dans les textes
// =================================

// Documents SPIP
//
// Documents insérés dans des textes : `<doc>`
//
// Markup:
// <div style="max-width:30em;margin: 0 auto;">
// <figure class="spip_documents spip_document_image {{modifier_class}}" style="width:960px;">
//   <a href="https://via.placeholder.com/960x540/4359ff/6a7bff" class="mediabox cboxElement hasbox" type="image/jpeg">
//     <picture class="adapt-img-wrapper">
//       <img src="https://via.placeholder.com/960x540/4359ff/6a7bff" width="960" height="540">
//     </picture>
//   </a>
//   <figcaption class="spip_doc_legende">
//     <div class="spip_doc_titre"><strong>Titre du document</strong></div>
//     <div class="spip_doc_descriptif">Descriptif du document : Eaque suscipit et quam quia consequuntur ratione doloremque.</div>
//     <div class="spip_doc_credits">Crédits</div>
//   </figcaption>
// </figure>
// <p>Aut aut et eum aspernatur magni et. Reprehenderit sed odit eveniet ratione. Placeat dignissimos quis est reprehenderit.</p>
// </div>
//
// .spip_documents_left   - Flottante à gauche
// .spip_documents_right  - Flottante à droite
//
// Styleguide Modules.Documents

// Documents SPIP - images en ligne
//
// Variante du modèle `<doc|ligne>`
//
// Markup:
// <ul class="spip_documents_ligne">
//   <li class="spip_documents_ligne__doc">
//     <figure class="spip_documents spip_document_image" style="width:960px;">
//       <a href="https://via.placeholder.com/960x540/4359ff/6a7bff" class="mediabox cboxElement hasbox" type="image/jpeg">
//         <picture class="adapt-img-wrapper">
//           <img src="https://via.placeholder.com/960x540/4359ff/6a7bff" width="960" height="540">
//         </picture>
//       </a>
//       <figcaption class="spip_doc_legende">
//         <div class="spip_doc_titre"><strong>Titre du document</strong></div>
//         <div class="spip_doc_descriptif">Descriptif du document : Eaque suscipit et quam quia consequuntur ratione doloremque.</div>
//         <div class="spip_doc_credits">Crédits</div>
//       </figcaption>
//     </figure>
//   </li>
//   <li class="spip_documents_ligne__doc">
//     <figure class="spip_documents spip_document_image" style="width:960px;">
//       <a href="https://via.placeholder.com/960x540/4359ff/6a7bff" class="mediabox cboxElement hasbox" type="image/jpeg">
//         <picture class="adapt-img-wrapper">
//           <img src="https://via.placeholder.com/960x540/4359ff/6a7bff" width="960" height="540">
//         </picture>
//       </a>
//       <figcaption class="spip_doc_legende">
//         <div class="spip_doc_titre"><strong>Titre du document</strong></div>
//         <div class="spip_doc_descriptif">Descriptif du document : Eaque suscipit et quam quia consequuntur ratione doloremque.</div>
//         <div class="spip_doc_credits">Crédits</div>
//       </figcaption>
//     </figure>
//   </li>
// </ul>
//
// Styleguide Modules.Documents.Ligne
.spip_document {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0;
	margin-bottom: spacing(2);
	max-width: 100%;
	text-align: center;
	width: auto !important;
	z-index: 1;

	// Mettre une marge sous l'image
	// (pb quand on cible directement <img>)
/*
	@at-root .spip_doc_inner {
		margin-bottom: spacing(1/2);
	}
*/
	
	img,svg {
		max-height: 90vh;
	}
	
	// Centrées
	&_center {
		clear: both;
	}

	// Images cliquables
	a[type*=image] {
		display: flex; // pour virer la marge sous l'image
		overflow: hidden;

		> * {
			flex: 1 1 auto;
		}

		img {
			transition: all 0.2s;
		}

		// Signaler la cliquabilité au survol
		// Icône loupe
		@extend .icon;
		@extend .icon-zoom-in;
		position: relative;
		&:before {
			z-index: 2;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			color: white;
			text-decoration: none;
			font-size: 3em;
			opacity: 0;
			transition: opacity 0.2s;
		}
		// Effet survl
		&:hover,
		&:focus {
			img {
				//transform: scale(1.033);
				filter: brightness(0.75);
			}
			&:before {
				opacity: 1;
			}
		}
	}

	@include g-state(desktop) {

		// Images centrées
		&_center {
			max-width: initial;
		}

		// Images flottantes
		&_left,
		&_right {
			max-width: 50%;

			// À partir de SPIP 3.3
			/*
			&.spip_document_image {
				> *:first-child {
					margin-bottom: 0;
				}
			}
			*/
		}
		&_left {
			float: left;
			padding-right: spacing();

			// À partir de SPIP 3.3
			/*
			.spip_doc_legende {
				left: spacing(-1);
				right: initial;
				transform: translateX(-100%);
				> * {
					text-align: right;
				}
			}
			*/
		}
		&_right {
			float: right;
			padding-left: spacing();
		}
		// côte à côte
		&_left + .spip_document_right {
			padding-left: 0;
		}
		&_left + .spip_document_left {
			padding-right: 0;
		}

	}

}

// Textes
.spip_doc_titre, 
.spip_doc_descriptif,
.spip_doc_credits {
	// Annuler la taille en dur dans le HTML sauf pour la variante en ligne...
	&:not(.spip_documents_ligne) & {
		width: auto !important; 
	}
	margin-bottom: spacing(1/2);
	margin-left: auto;
	margin-right: auto;
	font-size: .85em;
	font-family: setting(font-family-headings);
}

// À partir de SPIP 3.3, il y a un conteneur pour la légende
// On l'affiche de côté
/*
.spip_doc_legende {
	@include g-state(desktop) {
		position: absolute;
		right: spacing(-1);
		bottom: 0;
		transform: translateX(100%);
		width: 15vw;
		> * {
			text-align: left;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
*/
.spip_documents figcaption {
	font-size: 100%;
}

// Titre
.spip_doc_titre {}

// Descriptif
.spip_doc_descriptif {}

// Crédits
.spip_doc_credits {
	font-style: italic;
}

// Types de documents (à partir de SPIP 3.3)
.spip_document {
	&_image {}
	&_audio {}
	&_video {}
	&_file {}
}

// Modèle <ligne>
// Sur bureau, on affiche sur une seule ligne
// Pas en flex mais en display table pour forcer des largeurs identiques
.spip_documents_ligne {
	@extend .list_none;
	margin: 0;
	display: flex;
	flex-direction: column;

	@include g-state(desktop) {
		@include full-width();
		flex-flow: row nowrap;
		justify-content: center;
		padding: 0 spacing();

		&__doc {
			// display: table-cell;
			// width: 1em; // Astuce pour forcer des largeurs identiques

			&:not(:last-child) {
				padding-right: spacing();
			}
		}

		// Annuler le placement de côté de la légende
		.spip_doc_legende {
			position: static;
			transform: none;
			width: auto;
		}

		// Images centrées : ajustements
		.spip_documents_center {
			max-width: 100%;
			margin-left: 0;
			margin-right: 0;
		}

		// Images flottantes : ajustements
		.spip_documents_left,
		.spip_documents_right {
			float: none;
			max-width: 100%;
			margin-left: 0;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;
		}
	}
}

// Fix temporaire adpative images
// Je pige rien à sa stratégie pour les CSS
.adapt-img-wrapper.intrinsic {
	&:before {
		display: none;
	}
	img {
		position: initial;
	}
}

// comparaison d'image
.imgcompare {
	width: fit-content;
	
	img {
		max-width: none !important; // à cause de Tinytypo qui a un important
		max-height: 90vh;
	}
}
