/**
 * Module : Listes d'objets utilisées dans les trucs Z
 */

.list {

	display: flex;
	flex-flow: column;

	// Titre
	&__title {
		@extend .title_section;
	}

	// Le conteneur des items (<ul>)
	&__items {
		@extend .list_none;
		// justify-content: center;
	}

	// Chaque item (<li>)
	&__item {
		// margin-bottom: spacing(1.5);
	}

	// Pagination 
	&__pagination {}

	// Bouton voir plus 
	&__plus {
		@extend .button_secondary;
		align-self: center;
	}

	// Message si aucun résultat 
	&__alternative {}

	// Par défaut, tous les résumés en variante box 
	.preview {
		@include make-preview((box), (block: preview, common: false));
	}


	// ===================== 
	// Variantes objets SPIP 
	// ===================== 


	// Articles : 3 colonnes (ou pas) 
	&_articles {
/*
		.list__items {
			@include gridle( row );
		}
		.list__item {
			@include gridle( 12 desktop 4 );
		}
*/
		.preview {
			//@extend .preview_box; 
		}
	}

	// Rubriques 
	&_rubriques {}

	// Évènements 
	&_evenements {
		// Annuler l'habillage box 
		.preview {
			@include make-preview((box), (block: preview, cancel: true, common: false));
		}
	}

	// ==================== 
	// Variantes génériques 
	// ==================== 

	// Features 
	// En colonnes par défaut 
	&_features {
		.list__items {
			display: flex;
			flex-flow: column;
		}
		.list__item {
			padding: 0 spacing() spacing();
			flex: 0 1 auto;
			margin: 0;
		}
		@include g-state(tablet) {
			.list__items {
				flex-flow: row nowrap;
				justify-content: space-around;
			}
			.list__item {
				padding: 0 spacing();
			}
			// centrer les textes
			.feature {
				height: 100%;
				&__content {
					margin-top: auto;
				}
			}
		}
	}

	// Colonnage simple 
	&_columns {

		// De base = auto = largeur « moyenne » qui s'adpate 
		.list__items {
			@include gridle( row );
		}
		.list__item {
			@include gutter;
			flex: 1 1 calc(14em + 4vw);
			margin-bottom: spacing();
		}
		.preview {
			height: 100%;
			margin-bottom: 0;
		}
		
		// Auto = largeur « moyenne » qui s'adpate 
		&_auto {
			.list__items {
				@include gridle( row );
			}
			.list__item {
				@include gutter;
				flex: 1 1 calc(14em + 4vw);
				margin-bottom: spacing();
			}
			.preview {
				height: 100%;
				margin-bottom: 0;
			}
		}

		// Nombres fixes 
		&_2 {
			.list__items {
				@include gridle( row );
			}
			.list__item {
				@include gridle( 12 desktop 6 );
				margin-bottom: spacing();
			}
			.preview {
				height: 100%;
				margin-bottom: 0;
			}
		}
		// Auto = largeur « moyenne » qui s'adpate 
		&_3 {
			.list__items {
				@include gridle( row );
			}
			.list__item {
				@include gridle( 12 desktop 4 );
				margin-bottom: spacing();
			}
			.preview {
				height: 100%;
				margin-bottom: 0;
				
				&__title {
					font-size: font-size-heading(6);
				}
			}
		}
		&_4 {
			.list__items {
				@include gridle( row );
			}
			.list__item {
				@include gridle( 12 tablet 6 desktop 3 );
				margin-bottom: spacing();
			}
			.preview {
				height: 100%;
				margin-bottom: 0;
				
				&__title {
					font-size: font-size-heading(6);
				}
			}
		}
		&_6 {
			.list__items {
				@include gridle( row );
			}
			.list__item {
				@include gridle( 12 tablet 4 desktop 2 );
				margin-bottom: spacing();
			}
			.preview {
				height: 100%;
				margin-bottom: 0;
				
				&__title {
					font-size: 1em;
				}
			}
		}
	}
	
	&_left {
		.preview {
			@extend .preview_left;
		}
	}
}
