/**
 * Module : menus
 *
 * Pour le menu principal, voir _firstnav.scss
 */

// Menu items
//
// Markup:
// <nav class="menu {{modifier_class}}">
//   <ul class="menu-items menu-items_folding" data-depth="0">
//     <li class="menu-items__item menu-items__topitem">
//       <a class="menu-items__lien" href="#" aria-expanded="false">Aut possimus</a>
//       <ul class="menu-items menu-items__panel" data-depth="1" aria-expanded="false" aria-hidden="true">
//         <li class="menu-items__item">
//           <a class="menu-items__lien" href="#">Possimus</a>
//         </li>
//         <li class="menu-items__item">
//           <a class="menu-items__lien" href="#">Lorem ipsum</a>
//         </li>
//       </ul>
//     </li>
//     <li class="menu-items__item menu-items__topitem">
//       <a class="menu-items__lien" href="#" aria-expanded="false">Rerum nostrum</a>
//     </li>
//     <li class="menu-items__item menu-items__topitem">
//       <a class="menu-items__lien" href="#" aria-expanded="false">Omnis sit velit</a>
//     </li>
//   </ul>
// </nav>
//
// .menu_firstnav - Menu principal
// .menu_blocs    - Menu sous forme de blocs
//
// Styleguide Modules.menu

// Conteneur des menus 
.menu {
	&__toggle {
		display: none;
	}
	// Menus en eux-mêmes 
	&-items {
		@extend .list_none;

		// Megamenu 
		// Liens ayant un sous-menu 
		a {
			// Chevron 
			&[aria-expanded] {
				display: flex;
				align-items: center;

				&:after {
					font-family: 'icon';
					order: 2; // à droite
					margin-left: 0.66em;
					margin-top: 0.2em;
					font-size: 0.5em;
				}
			}
			&[aria-expanded="false"]:after {
				content: '\e80c'; // icon-down-open 
			}
			&[aria-expanded="true"]:after {
				content: '\e80d'; // icon-up-open 
			}
		}

		// Entrées de menu spéciales 
		&__item {
			// Recherche 
			&.recherche > a {
				@extend .icon;
				@extend .icon-search;
			}

			// Rezosociaux 
			&_rezosocios, &_sociaux {
				display: inline-flex !important; // pas le choix 

				[class^=socicon] {
					background: transparent !important; // ouais gros 
					color: inherit;
					padding: 0;
					font-size: inherit;
				}
				a[rel=external]:after {
					display: none;
				}
			}
		}
		.item.sociaux {
			@extend .menu-items__item_sociaux;
		}
	}


	// ========= 
	// Variantes 
	// ========= 

	// Principal 
	&_firstnav {
		clear: both;
		font-size: 0.8em;
		
		.menu-items {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			
			// Tous les liens 
			&__lien {
				display: inline-flex;
				flex-direction: column;
				align-items: center;
				// padding: spacing(1/2) spacing(); 
				padding: 0.75em 0.5em;
				text-decoration: none;
				
				&:hover, &:focus {
					text-decoration: underline;
					text-decoration-thickness: 3px;
					text-underline-offset: 0.5em;
				}
				
				svg {
					height: 1.5em;
					width: auto;
				}
			}
			&__label {
				&.titre {
					display: none;
				}
				&.titre_court {
					font-size: 0.8em;
					text-transform: uppercase;
				}
			}
			&__item {
				&.active {
					.menu-items__lien {
						text-decoration: underline;
						text-decoration-color: var(--color-primary);
						text-decoration-thickness: 3px;
						text-underline-offset: 0.5em;
						
/*
						svg {
							path {
								fill: var(--color-text-lighter) !important;
							}
						}
*/
					}
				}
			}
		}
		
		// Choses communes menu normal + dropdown de priority nav 
		.menu-items,
		.nav__dropdown {
			// display: flex; 
			// width: 100%; 
			margin: 0;
			text-align: center;
		
			// Par défaut on cache les sous-menu AVANT que le JS ajoute ses classes 
			.menu-items {
				display: none;
			}
			
			// Panel = sous-menu hover 
			.menu-items__panel {
				min-width: 10em;
				box-shadow: 0 0.1em 0.2em hsla(0, 0%, 0%, 0.2);
				
				&.open {
					display: block;
				}
			}
		
			// RACINE 
			&[data-depth="0"] {
				> .menu-items__item {
					display: inline-block;
					vertical-align: middle;
					
					.menu-items__lien,
					.menu-items__texte,
					.formulaire_recherche {
						border-bottom: 0.25em solid transparent;
						margin-bottom: -0.125em;
					}
		
					&.active {
						> .menu-items__lien,
						> .menu-items__texte {
							border-color: var(--color-primary);
						}
					}
		
					// Sous-menus 
					.menu-items {
						text-align: left;
					}
				}
			}
		
			// NIVEAU 1 
			&[data-depth="1"] {}
		
			// Recherche 
			.formulaire_recherche {
				label {
					@extend .visually-hidden;
				}
			}
		}

		// dropdown de priority nav 
		.nav__dropdown {
			min-width: 10em;
			list-style: none;
			background-color: white;
			box-shadow: 0 0.1em 0.2em hsla(0, 0%, 0%, 0.2);
			padding: 1em;
			text-align: left;
			
			.menu-items {
				display: none;
			}
		}

		// Variante principale 
		&_main {
			// aligner la 1ère entrée avec le bord gauche : supprimer le padding de gauche 
			.menu-items[data-depth="0"] > .menu-items__item:first-child > a {
				padding-left: 0;
			}
		}

		// Variante social 
		&_social {
			.menu-items {
				padding-top: 0.25em; // = border-bottom des entrées du firstnav 
			}
		}

		// Responsive 
		@include g-state( tablet ) {
			justify-content: flex-start;
		}
		@include g-state( tablet ) {
			.menu-items__item:first-child .menu-items__lien {
				padding-left: 0; // déjà margé avec le logo quand tout en ligne horizontale
			}
		}
		@include g-state( large ) {
			.menu-items__lien {
				flex-direction: row;
				font-weight: bold;
				
				svg {
					height: 2em;
					margin-inline-end: spacing(0.25);
				}
			}
			.menu-items__label {
				&.titre {
					display: inline;
				}
				&.titre_court {
					display: none;
				}
			}
		}
	}


	// Menu sous forme de blocs 
	&_blocs {

		// devrait être .menu__title 
		.h2 {
			@extend .title_section;
		}

		// Tous les liens 
		a {
			// background-color: white; 
			text-decoration: none;
			&:not(:hover):not(:focus) {
				color: inherit;
			}
		}

		// Racine 
		.menu-items[data-depth="0"] {
			> .menu-items__item {
				> a {
					position: relative;
					display: block;
					padding: spacing(1.5) spacing();
					border: 1px solid hsl(0, 0%, 90%);
					color: var(--color-secondary);
					margin: 0 -1px -1px 0; // pour faire se chevaucher les bordures 
					text-align: center;
					font-weight: bold;

					// Hover + Ouvert 
					&:hover,
					&:focus,
					.open {
						z-index: 2;
						background-color: var(--color-secondary);
						border-color: var(--color-secondary);
						color: white;
					}
				}
			}
		}

		// Niveau 1 (sous-menu) 
		.menu-items[data-depth="1"] {
			// padding: spacing() 0; 
			// border: 1px solid var(--color-border); 
			box-shadow: 0 0.2em 0.4em hsla(0, 0%, 0%, 0.2);
			background-color: white;

			> .menu-items__item {
				> a {
					display: block;
					padding: spacing(1/2) spacing(2);

					&:hover,
					&:focus {
						background-color: hsl(var(--color-secondary--h), var(--color-secondary--s), calc(var(--color-secondary--l) + 60%)),;
					}
				}
				&:first-child > a {
					padding-top: spacing();
				}
				&:last-child > a {
					padding-bottom: spacing();
				}
			}
		}
		// Sous-menu js 
		.menu-items__panel {
			padding: 0;
			background-color: transparent;
		}

		// Responsive 
		@include g-state( tablet ) {
			// Racine 
			.menu-items[data-depth="0"] {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));

				> .menu-items__item {
					position: relative;
					float: left; // Pour les vieux navs pourris du cul 
					display: flex;
					> a {
						flex: 1 1 auto;
						display: flex;
						align-items: center;
						justify-content: center;
					}
				}
			}
			// Sous-menu js 
			.menu-items__panel {
				width: 30em;
				bottom: 1px;
				transform: translateY(100%);
			}
		}
	}
}

