/**
 * Présentation résumé inscription aux newsletters
 */
.newsletter {

	box-shadow:
		0 -0.2em 1.5em hsla(0, 0%, 0%, 0.15),
		0 0.2em 0.2em hsla(0, 0%, 0%, 0.05);

	// =======
	// Communs
	// =======

	&__heading,
	&__form {
		display: flex;
		justify-content: center;
	}
	&__container {
		flex: 0 1 30em;
		padding: spacing(2);
	}


	// ==============
	// Partie heading
	// ==============

	&__heading {
		padding-top: 2em; // = place pour l'icône
		position: relative;
		background-color: var(--color-secondary);
		background:
			no-repeat url('images/zigouigouis-01.svg'),
			no-repeat url('images/zigouigouis-02.svg'),
			linear-gradient(
				45deg,
				var(--color-secondary) 0%,
				hsl(var(--color-secondary--h), var(--color-secondary--s), calc(var(--color-secondary--l) + 10%)), 100%
			);
		background-position:
			left 0.5em top 0.5em,
			right 0.5em top 0.5em,
			center;
		background-size:
			auto 66%,
			auto 66%,
			auto;
		color: white;
		text-align: center;

		p:last-child {
			margin: 0;
		}

		// Icône en haut
		&:before {
			content: '';
			display: block;
			width: 5em;
			height: 5em;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%) translateY(-1.5em);
			border-radius: 99em;
			background-color: white;
			background-image: url('images/enveloppe-01.svg');
			background-size: 50% auto;
			background-repeat: no-repeat;
			background-position: center center;
		}

		.newsletter__container {
			display: flex;
			flex-flow: column;
			align-items: center;
		}
	}

	&__title,
	&__content {
		background-color: hsl(var(--color-secondary--h), var(--color-secondary--s), calc(var(--color-secondary--l) + 5%)),;
		padding: 0.2em 0.5em;
	}

	// Titre
	&__title {
		font-size: font-size-heading(4);
		margin-bottom: spacing();
		text-transform: uppercase;
	}

	// Texte descriptif
	&__content {}

	@include g-state(desktop) {
		&__title,
		&__content {
			background: none;
			padding: 0;
		}
	}


	// =================
	// Partie Formulaire
	// =================

	&__form {
		background-color: var(--color-lightest);
		background-repeat: no-repeat;
		background-image:
			url('images/enveloppes-01.svg'),
			url('images/enveloppes-02.svg');
		background-size:
			auto 66%,
			auto 66%;
		background-position:
			left -0.5em center,
			right -0.5em center;
	}
	input.text {
		border-color: var(--color-secondary);
		background-color: transparent;
		color: var(--color-secondary);
		text-align: center;
	}
	.editer-groupe,
	.editer {
		margin-bottom: spacing();
	}
	.editer {
		&:last-child {
			margin: 0;
		}
		> label {
			@extend .visually-hidden;
		}
	}
	.boutons {
		margin: 0;
	}
	input.submit {
		@extend .button_block;
		padding: spacing(0.5);

		&:not(:hover):not(:focus) {
			background-color: var(--color-secondary);
		}
	}

}
