/**
 * Modules : noisettes
 *
 * Contient des classes modificatrices ajoutées via le pipeline noizetier_lister_saisies_classes
 */

.noisette {
	&_appel {
		.preview_emphasis {
			margin-bottom: 0;
		}
	}
	
	// Des variantes de cards
	&.previews_catchwords {
		.preview {
			@extend .preview_catchwords;
		}
	}
	&.previews_overlay_image {
		.preview {
			@extend .preview_overlay_image;
		}
	}
	&.previews_overlay,
	&.previews_overlay_text {
		.preview {
			@extend .preview_overlay_text;
		}
	}
	&.previews_left {
		.preview {
			@extend .preview_left;
			@include make-preview((box), (block: preview, cancel: true, common: false)); // annuler box
			.preview__media {
        margin-right: spacing(); // shame
      }
		}
		// Séparer les items avec des bordures sauf si en colonne
		.list:not([class*=list_columns]) .list__item {
			.preview {
				margin-bottom: 0;
			}
			&:not(:last-child) {
				margin-bottom: spacing(1.5);
				padding-bottom: spacing(1.5);
				border-bottom: 1px solid var(--color-border-light);
			}
		}
	}
	
	// Bon là c'est pas que pour la variante card, on fait aussi des trucs sur la liste
	// C'est une rustine, faudrait une autre noisette qui utilise autre chose que des cards pour ça.
	&.previews_menu {
		.preview {
			@extend .preview_menu;
			@include make-preview((box), (block: preview, cancel: true, common: false)); // annuler box
		}
		.list__items {
			display: inline-flex;
			flex-flow: row wrap;
			justify-content: center;
			background: var(--color-lightest);
			border-radius: setting(radius);
		}
	}

	// Cartouches
	// On vire la marge au dessus et en dessous, ça se fait dans la config de la noisette
	&_rubrique-cartouche,
	&_article-cartouche,
	&_evenement-cartouche {
		.cartouche {
			margin-top: 0;
			margin-bottom: 0;
			padding-top: spacing(3); // tempo
			padding-bottom: spacing(3); // tempo
		}
	}

	// Texte rubrique
	&_rubrique-contenu {
		font-family: setting(font-family-alt);
	}

}
