/**
 * Module : pagination
 */

.pagination {
	margin-bottom: spacing(2);
	// font-size: 0.9em;
	line-height: 1;
	
	&-items {
		list-style: none;
		margin: 0;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}
	
	.on {
		padding: spacing(1/4) spacing(1/2);
		background-color: hsl(var(--color-secondary--h), var(--color-secondary--s), calc(var(--color-secondary--l) + 10%));
		color: white;
		border-radius: setting(radius);
	}
	
	&-item {
		margin: 0em;
		display: flex;
		align-items: center;
		
		&-label {
			padding: spacing(1/8) spacing(1/4);
		}
	}
	.pagination-item + .pagination-item {
		margin-left: 0.5em;
	}
	.pagination_precedent_suivant .disabled {
		visibility: hidden;
	}
	
	// Liens
	a {
		color: var(--color-secondary);
		text-decoration: none;

		&:hover, &:focus {
			color: black;
		}
	}
	
	.prev, .next {
		&.disabled {
			visibility: hidden;
		}
	}
	
	// Page précédente / suivante
/*
	.prev,
	.next {
		.pagination-item-label {
			@extend .icon;
			display: flex;
			align-items: center;
			max-width: 2em;
		}
	}
	.prev {
		.pagination-item-label {
			@extend .icon-left;
			font-weight: normal;
		}
	}
	.next {
		.pagination-item-label {
			@extend .icon-right;
			&:before {
				order: 2;
			}
		}
	}
*/

	// Item désactivé 
	.disabled {
		opacity: 0.5;
	}

	// Séparateurs = pipe |
	.sep {
		display: none;
	}

	// Responsive
	@include g-state(tablet) {
		.prev {
			margin-right: spacing();
		}
		.pagination-item + .next {
			margin-left: spacing();
		}
	}
	@include g-state( desktop ) {
		.pagination-item-label {
			padding-left: spacing(1/2);
			padding-right: spacing(1/2);
		}
	}

	// Variante : pagination alphabétique 
	&.alpha {
		text-transform: uppercase;
		
		a, strong {
			margin: 0 0.25em;
		}
	}
}
