/**
 * Module : preview
 *
 * Résumés de contenus éditoriaux.
 */

// preview
//
// Résumés de contenus éditoriaux.
//
// Markup:
// <div class="preview {{modifier_class}}">
//   <figure class="preview__media">
//     <img src="https://via.placeholder.com/960x540/4359ff/6a7bff" width="960" height="540">
//   </figure>
//   <div class="preview__body">
//     <h3 class="preview__title"><a href="#">Aut possimus eligendi</a></h3>
//     <p class="preview__publication">
//       <time class="preview__date">11 Octembre</time>
//       <span class="preview__parent">Lorem</span>
//     </p>
//     <div class="preview__content">
//        <p>Lorem ipsum tempus fugit. Aut rerum nostrum qui adipisci est aut. Est error omnis sit velit. Aut possimus eligendi quia. Magnam sit aut et hic rerum cupiditate velit eveniet. Et consectetur omnis nulla voluptas nobis.</p>
//     </div>
//   </div>
// </div>
//
// .preview_left          - Image à gauche
// .preview_right         - Image à droite
// .preview_bottom        - Image en bas
// .preview_overlay_image - Image plaquée derrière le texte (taille définie par le texte)
// .preview_overlay_text  - Texte plaqué sur l'image (taille définie par l'image, risque que le texte dépasse)
//
// Styleguide Modules.preview
.preview {
	@include make-preview((), (block: preview));
	@include link-block-wrapper;
	
	// Picto de plateforme si présent 
	&__plateforme {
		position: absolute;
		left: 0.5rem;
		top: 0.5rem;
		width: spacing(1.5);
		height: spacing(1.5);
		background-color: var(--color-dark);
		padding: spacing(0.15);
		border-radius: 50%;
		border: spacing(0.15) solid white;
		
		img, svg {
			max-width: 100%;
			max-height: 100%;
		}
		path {
			fill: white !important;
		}
	}
	
	// Rang si présent 
	[itemprop="position"]:before {
		content: attr(content);
		position: absolute;
		z-index: 10;
		left: 2rem;
		top: 0.5rem;
		width: 2.25rem;
		height: 2.25rem;
		background-color: var(--color-primary);
		color:white;
		padding: 0.225rem;
		border-radius: 50%;
		border: 0.225rem solid white;
		display: flex;
		justify-content: center;
	}
	
	// Titre
	&__title {
		font-size: font-size-heading(5);
		margin-bottom: spacing(0.5);
	}

	// Informations de publication
	&__publication {
		margin-bottom: spacing(0.5);
		font-family: setting(font-family-headings);
		font-size: 0.9em;
		opacity: 0.66;

		// Séparations
		> *:not(:last-child):after {
			content: '|';
			margin: 0 0.66em;
		}
	}
	&__date {}
	&__parent {}

	&__body {
		p:last-child {
			margin-bottom: 0;
		}
	}
	
	&__plus {
		margin-top: spacing();
	}

	a:before {
		opacity: 0.66; /* Fond animé du bouton */
	}

	// Texte d'introduction
	&__content {}

	// Métas
	&__postmeta {}

	// Commentaires
	&__comments {}
	.nb_commentaires {}


	/**
		* ====================
		* Variantes génériques
		* ====================
		*/


	&_left {
		@include make-preview(left, (block: preview, common: false));
		border: 0;

		.preview__body {
			display: block;
			padding: 0;
			text-align: left;
		}

		&:hover,
		a:focus {
			box-shadow: none;
		}
	}

	&_right {
		@include make-preview(right, (block: preview, common: false));
	}

	&_bottom {
		@include make-preview(bottom, (block: preview, common: false));
	}

	&_box {
		@include make-preview(box, (block: preview, common: false));
	}


	// Overlay : image plaquée dans le fond
	// 1) choses en commun
	&_overlay,
	&_overlay_text,
	&_overlay_image {
		border: 0;

		// Fond semi-transparent par dessus l'image
		.preview__media {
			&:after {
				@include absolute-fit;
				content: '';
				background: hsla(0, 0%, 0%, 0.5);
				transition: background 0.2s;
			}
		}
		.preview__title {
			text-transform: uppercase;
			text-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.15);

			a:hover,
			a:focus {
				color: inherit;
			}
		}
		.preview__subtitle {
			text-transform: none;
		}
		.preview__publication {
			font-weight: bold;
			opacity: 1;
		}
		.preview__body {
			display: flex;
			flex-flow: column;
			justify-content: center;
		}
		.preview__content {
			display: none;
		}
		

		&:hover,
		&:focus {
			.preview__media:after {
				background: hsla(var(--color-secondary--h), var(--color-secondary--s), var(--color-secondary--l), 0.15);
			}
		}
	}

	// 2) Taille fixée par l'image
	&_overlay_image {
		@include make-preview(overlay_image, (block: preview, common: false));
	}

	// Overlay texte
	// 3) Taille fixée par le texte
	&_overlay,
	&_overlay_text {
		@include make-preview(overlay_text, (block: preview, common: false));
		min-height: 12em;

		.preview__body {
			padding: spacing(2) spacing();
		}
	}


	/**
		* ==================
		* Variantes diverses
		* ==================
		*/

		// Catchwords
		// Ne contient que vignette + slogan/mot-clé 
	&_catchwords {
		@include make-preview(overlay_image, (block: preview, common: false));
		background: linear-gradient(
			45deg,
			hsl(0, 0%, 90%) 0%,
			hsl(0, 0%, 100%) 66%
		);

		.preview__media {
			filter: grayscale(100%) opacity(15%);
		}

		.preview__body {
			padding: 0;
			width: 90%;
			max-width: setting(container-text);
			left: 50%;
			top: 50%;
			bottom: unset;
			right: unset;
			transform: translateX(-50%) translateY(-50%);
			text-align: center;
		}

		.preview__title {
			@extend .icon;
			@extend .icon-quote-left;
			line-height: 1.1;
			position: relative;
			margin-bottom: 0;
			color: var(--color-primary);
			font-size: calc(1em + 5vw);
		}

		.preview__publication {
			display: none;
		}
	}

	// Emphasis = mise en avant 
	&_emphasis {
		.preview__title {
			@extend .title_section;
			margin-bottom: spacing();
			text-transform: uppercase;
			font-weight: bold;
			color: var(--color-secondary);
			
			&:after {
				content: ' ';
				display: block;
				margin-left: auto;
				margin-right: auto;
				height: spacing(0.5);
				width: 4em;
				border-bottom: 2px solid var(--color-border);
			}
		}
		.preview__body {
			width: 100%;
			max-width: setting(container-text);
			margin: 0 auto;
			text-align: center;
			align-items: center;
		}
		
		// Mise en avant image à gauche 
		&.preview_left {
			.preview__media {
				max-height: spacing(6);
				
				// Si c'est un SVG donc plutôt picto 
				svg {
					border: 1px solid var(--color-primary);
					padding: 5%;
					background-color: var(--color-lightest);
				}
			}
			.preview__title {
				text-align: left;
				
				&:after {
					margin-left: 0;
				}
			}
			.preview__body {
				padding: 0;
				align-items: flex-start; // on ne centre plus quand on est en variante left 
			}
		}
		
		// Mise en avant avec image en fond 
		&.preview_overlay_text {
			border-top: spacing() solid var(--color-secondary);

			// Fond animé au survol 
			@extend .animate_bitonio;
			&:before {
				border-radius: 0;
				opacity: 0.66;
			}

			// Dégradé par dessus l'image pour pouvoir écrire par dessus
			.preview__media {
				&:after {
					@include absolute-fit;
					content: '';
					background: linear-gradient(180deg, hsla(0, 0%, 0%, 0.6) 0%, hsla(0, 0%, 0%, 0.9) 100%);
				}
			}
			
			.preview__body {
				padding: 15vh spacing(); 
			}
			.preview__title {
				color: white;
				
				&:after {
					content: none;
				}
			}
			.preview__content {
				display: block;
				position: relative;
				font-family: setting(font-family-alt);
				font-style: italic;
				margin-bottom: spacing(2);

				// Trait de séparation 
				&:before {
					content: "";
					display: block;
					width: 50%;
					margin: 0 auto spacing();
					border-top: 1px solid white;
				}
			}

			&:hover,
			&:focus {
				.preview__plus {
					background: transparent; // obligé de répéter
					border-color: white;
				}
			}
		}
	}
	/**
	&_emphasis {
		@include make-preview(overlay_text, (block: preview, common: false));
		border-top: spacing() solid var(--color-primary);

		// Fond animé au survol
		@extend .animate_bitonio;
		&:before {
			border-radius: 0;
			opacity: 0.66;
		}

		// Léger dégradé par dessus l'image
		.preview__media {
			&:after {
				@include absolute-fit;
				content: '';
				background: linear-gradient(180deg, hsla(0, 0%, 0%, 0.2) 0%, hsla(0, 0%, 0%, 0.66) 100%);
			}
		}

		.preview__body {
			max-width: setting(container-text);
			margin: 0 auto;
			padding: 15vh spacing();
			text-align: center;
		}

		.preview__title {
			font-size: font-size-heading(1);
			margin-bottom: spacing();
		}

		.preview__content {
			position: relative;
			font-family: setting(font-family-alt);
			font-style: italic;
			margin-bottom: spacing(2);

			// Trait de séparation
			&:before {
				content: "";
				display: block;
				width: 50%;
				margin: 0 auto spacing();
				border-top: 1px solid white;
			}
		}

		.preview__plus {}

		&:hover,
		&:focus {
			.preview__plus {
				background: transparent; // obligé de répéter
				border-color: white;
			}
		}
	}
	* **/

	// Hum... disons que ce sont les entrées d'un pseudo menu, on ne veut que les titres
	&_menu {
		margin: 0;
		border: 0;
		display: inline-flex;
		flex-flow: row;

		.preview__title {
			margin: 0;
		}
		.preview__body {
			padding: spacing(0.5);
		}
		.preview__media,
		.preview__content {
			display: none;
		}
		&:hover,
		&:focus {
			box-shadow: none;
		}
	}

	// Membres 
	&_box_membres {
		.preview__media {
			padding: spacing();
			margin: 0; // ne pas empiéter sur la bordure comme par défaut pour les box
		}
		.preview__body {
			text-align: left;
		}
		.preview__title {
			margin-bottom: spacing(1.5);
			color: var(--color-secondary);

			a:hover,
			a:focus {
				color: var(--color-primary);
			}
		}
	}

	/**
		* =====================
		* Variantes objets SPIP
		* =====================
		*/


	// Articles 
	&_article {}

	// Rubriques 
	&_rubrique {}
}
