/**
 * Module : slideshow
 */

.slideshow {

	&__items {}

	&__item {
		//display: flex !important; // pour les marges indésirables en bas 
	}
	
	// Pour un carrousel de documents 
	.spip_documents {
		margin: 0;
		
		.spip_doc_inner {
			margin: 0;
		}
		.spip_doc_legende {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0,0,0,0.5);
			padding: 0.5em;
			color: white;
		}
		.spip_doc_titre, .spip_doc_descriptif, .spip_doc_credits {
			margin: 0;
			color: white;
		}
		
		img {
			max-height: 50vh;
			width: auto;
		}
	}
	
	// Résumés
	// Pour simplifier, disons qu'il s'agit tout le temps de la variante "catchwords".
	// Mais il faudrait faire en sorte de pouvoir choisir laquelle.
	.preview {
		@extend .preview_catchwords;
		margin: 0;
	}

}
