/**
 * Modules : slick slider
 *
 * Styles en commun à tous les diaporamas slick
 */

$slick-pause-character: "\23f8" !default;
$slick-play-character: "\25b6" !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

.slick {
	// Conteneur général
	&-slider {
		@extend .list_none;
		margin: 0;
		position: relative;

		// Images
		.adapt-img-wrapper,
		img {
			width: 100%;
			display: block;
		}

		// Hover : dégradés latéraux pour mettre en avant les flèches de navigation
/*
		&:before,
		&:after {
			content: '';
			z-index: 2;
			position: absolute;
			top: 0;
			bottom: 0;
			width: 6vw; // Idem largeur flèches de nav
			opacity: 0;
			transition: opacity 0.2s;
		}
		&:before {
			left: 0;
			background: linear-gradient(90deg, hsla(0,0%, 0%, 0.25) 0%, hsla(0,0%, 0%, 0) 100%);
		}
		&:after {
			right: 0;
			background: linear-gradient(90deg, hsla(0, 0%, 0%, 0) 0%, hsla(0,0%, 0%, 0.25));
		}
*/
		&:hover,
		&:focus {
			&:before,
			&:after {
				opacity: 1;
			}
		}

	}
	
	// Boutons précédent/suivant (version par défaut gnénéré par slick)
	&-prev, &-next {
		z-index: 10;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-color: transparent !important;
		border: 0;
		color: white !important;
		font-size: calc(1em + 5vw);
		padding: 0.25em 0;
		line-height: 0;
		font-weight: normal;
		
		&:hover, &:focus {
			background-color: rgba(0,0,0,0.25) !important;
		}
		
		.slick-sr-only {
			@extend .visually-hidden;
		}
		&-icon {
			@extend .icon;
		}
	}
	&-prev {
		left: 0;
		&-icon {
			@extend .icon-left-open-big;
		}
	}
	&-next {
		right: 0;
		&-icon {
			@extend .icon-right-open-big;
		}
	}
	
	// Boutons précédent/suivant par dessus l'image (version personnalisé)
	&-nav {
		@extend .icon;
		z-index: 10;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-color: transparent;
		border: 0;
		color: white;
		font-size: calc(1em + 5vw);
		padding: 0.25em 0;
		line-height: 0;
		font-weight: normal;

		&:hover,
		&:focus {
			background-color: transparent;
			color: var(--color-primary);
		}

		// Icône
		&:before {
			margin: 0;
		}

		// Fond
		&:after {
			display: none;
		}

		&_prev {
			@extend .icon-left-open-big;
			left: 0;
		}
		&_next {
			@extend .icon-right-open-big;
			right: 0;
		}
		&__label {
			@extend .visually-hidden;
		}
	}
	
	// Liste des diapos 
	&-list {
		z-index: 1;
	}
	&-track {}

	// Diapo 
	&-slide {
		&.slick-current {}
		&.slick-active {}
		
		> div {
			display: flex;
		}
	}
	
	// Bouton d'accessibilité de l'autoplay 
	&-autoplay-toggle-button {
		position: absolute;
		right: 5px;
		bottom: 5px;
		z-index: 10;
		opacity: $slick-opacity-default;
/*
		background: none;
		border: 0;
*/
		cursor: pointer;
		
		.slick-sr-only {
			@extend .visually-hidden;
		}

		&:hover, &:focus {
			outline: none;
			opacity: $slick-opacity-on-hover;
		}

		.slick-pause-icon {
			@extend .icon;
			@extend .icon-pause;
		}
		.slick-play-icon {
			@extend .icon;
			@extend .icon-play;
		}
	}
}

