/**
 * Module : trucs sociaux
 *
 * On change les icônes des 1ers de la liste dans la config.
 */

.socialtags {
	.facebook a,
	.twitter a,
	.linkedin a,
	.tumblr a,
	.mail a,
	.printer a,
	.viadeo a {
		@extend .icon;
		text-decoration: none;
		color: inherit;
		&:hover,
		&:focus {
			color: var(--color-primary);
		}

		img {
			display: none;
		}
	}

	.facebook a {
		@extend .icon-facebook;
	}
	.twitter a {
		@extend .icon-twitter;
	}
	.linkedin a {
		@extend .icon-linkedin;
	}
	.viadeo a {
		@extend .icon-viadeo;
	}
	.tumblr a {
		@extend .icon-tumblr;
	}
	.mail a {
		@extend .icon-mail;
		&:after {
			display: none;
		}
	}
	.printer a {
		@extend .icon-print;
	}
}
