/**
 * Module : strates
 */

.strate {
	clear: both;

	// Conteneur interne (peut servir de .container)
	&__inner {}


	/**
	 * ====================
	 * Variantes génériques
	 * ====================
	 */


	// Fond sombre
	&_dark {
		padding: spacing() 0;
		background-color: var(--color-dark);
		color: white;

		a:not(:hover):not(:focus) {
			color: inherit;
		}
	}

	// Fond clair
	&_light {
		padding: spacing() 0;
		background-color: var(--color-lightest);
	}

	// Pleine largeur forcée
	&_full {
		@extend .full-width;
		.strate__inner {
			@extend .container;
		}
	}
	&_full-fluid {
		@extend .full-width;
		.strate__inner {
			@extend .container_fluid;
		}
	}


	/**
	 * =====================
	 * Variantes spécifiques
	 * =====================
	 */


	// Cartouche : nom de la page, métas, etc.
	&_cartouche {}

	// Contenu principal
	&_main {}

	// Contenus liés : galeries, documents, etc.
	&_lies {}

	// Compléments : notes de bas de pages, ps, etc.
	&_complements {}

	// Recherche
	&_recherche {
		@extend .strate_light;
		padding: spacing();

		.formulaire_recherche {
			label {
				color:var(--color-primary);
			}
			input {
				border-width: 0 0 0.1em 0;
				border-radius: 0;
				background-color: transparent;
				padding-left: 0;
			}
		}
		@include g-state( desktop ) {
			padding: spacing(2) spacing();
			.formulaire_recherche {
				input {
					font-size: 1.66em;
				}
			}
		}
	}

}
