
.box_visionneuse {
	&.lity-sidebar .lity-close {
		color: var(--color-link);
		background-color: white;
		border-radius: 0;
		top: 0;
		right: 0;
		text-shadow: none;
	}
	.lity-content, .lity-content-inner {
		padding: 0 !important;
	}
}

.visionneuse {
	@extend .background_primary;
	display: flex;
	flex-direction: column;
	
	&__medias {
		height: 50vh;
		
		// Forcer les vidéos MP4 à la largeur de la visionneuse 
		.video-intrinsic-wrapper {
			width: 100vw !important;
			max-height: 50vh;
		}
	}
	&__notice {
		padding: spacing();
		min-height: 50vh;
	}
	&__titre {
		@extend .h2;
		line-height: 1.2;
	}
	
	.lecteurpdf {
		width: 100%;
		height: 100%;
	}
	
	@media (orientation: landscape) {
		flex-direction: row;
		
		> * {
			flex-basis: 50%;
		}
		&__medias {
			height: 100vh;
			height: 100dvh;
			width: 50%;
			
			.video-intrinsic-wrapper {
				width: 50vw !important;
				max-height: 100vh;
			}
		}
		&__notice {
			width: 50%;
			height: 100vh;
			overflow: auto;
		}
		
		@include g-state( desktop ) {
			&__medias {
				flex-basis: #{calc(200% / 3)};
				
				.video-intrinsic-wrapper {
					width: #{calc(200vw / 3)} !important;
				}
			}
			&__notice {
				flex-basis: #{calc(100% / 3)};
			}
		}
	}
}
