/**
 * Section : footer
 */
.footer {
	//padding: spacing(2);
/*
	background-color: var(--color-dark);
	color: var(--color-text-lightest);
*/

	a:not(:focus):not(:hover) {
		color: inherit;
	}

	// Conteneur interne
	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__item {
		flex: 0 1 auto;
		
		&_plateformes {
			background-color: white;
			text-align: center;
			color: var(--color-link);
			padding: spacing(2) 0;
			
			.descriptif_site {
				@extend .container_text;
				font-family: setting(font-family-headings);
				font-size: 1.2em;
				font-weight:bold;
			}
			
			.spip_logo {
				max-height:  5em;
			}
			.menu {
				a {
					text-decoration: none;
					display: flex;
					flex-direction: column;
					align-items: center;
					padding: 1em;
				}
				&-items {
					display: flex;
					flex-flow: row wrap;
					justify-content: center;
				}
				&-items__item {
					flex-basis: calc((#{setting(container-base)} - 2 * #{setting(gutter)}) / 5);
				}
			}
			.titre {
				text-transform: uppercase;
				font-weight: bold;
				border: 2px solid var(--color-link);
				border-radius: setting(radius);
				padding: 0 0.5em;
				margin: spacing(0.5) 0;
				display: inline-block;
			}
			.soustitre {
				text-transform: uppercase;
				font-size: 0.8em;
			}
		}
		
		&_menu {
			@extend .background_darkest;
			margin: 0 -#{setting(gutter)};
			padding: spacing(0.25) setting(gutter);
			font-size: 0.8em;
			font-weight: bold;
			
			.menu-items {
				margin: 0;
				display: flex;
				flex-flow: row wrap;
				justify-content: center;
				
				&__item {
					&:not(:first-child):before {
						content: ' | '
					}
				}
			}
			
			a {
				padding: 0 2em;
				
				&:focus {
					background-color: transparent;
				}
			}
		}
		
		&_partenaires {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			padding: spacing(2) 0;
			
			
			a{
				filter: saturate(0);
				transition: 0.5s;
				margin-bottom: 2em;
				
				&:not(:first-child) {
					margin-left: 2em;
				}
				&:hover, &:focus {
					filter: saturate(1);
					background-color: transparent;
				}
			}
			.spip_logo {
				max-height: 2em;
				width: auto;
			}
		}
	}
}
