
.header {
	z-index: 5000;
	position: sticky;
	top: 0;
	@extend .background_darkest;
	// background-size: auto 0.25em;
	transition: 0.5s;
	padding: spacing(0.5) 0;
	
	svg{
		path {
			fill: white !important;
		}
	}
	// bordure du bas en absolute sinon ça fait une marge blanche moche 
	// si le header est suivi d'un applat 
	&:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		border-bottom: 1px solid var(--color-border-lightest);
		z-index: -1;
	}

	// pleine largeur 
	.container {
		// @extend .container_fluid;
		padding-left: spacing(0.25);
		padding-right: spacing(0.25);
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		transition: 0.5s;
	}

	.home {
		transition: 0.5s;
		margin-inline-start: spacing(0.25);
		margin-inline-end: spacing(0.25);

		&__link {
			display: block;
			width: 100%;
			text-decoration: none;

			&:focus {
				background-color: transparent;
			}
		}

		&__logo {
/*
			text-align: center;
*/
			display: flex;
			max-width: 40em;
			overflow: hidden;
			transition: 0.5s;
		}
		img,
		svg {
			//height: 5.5em; 
			max-height: spacing(1.5);
			width: auto;
			transition: 0.5s;
		}
		&__sitename {
			@extend .visually-hidden;
		}
	}
	
	// Menu principal : voir dans _menus.scss 
	.menus {
		.menu_firstnav_social {
			display: none;
		}

		@include g-state( desktop ) {
			.menu_firstnav_main {
				flex: 1 0 auto;
			}
			.menu_firstnav_social {
				display: block;
				flex: 0 1 auto;
			}
		}
	}
	
	// Menu de langue 
	.menu_lang {
		position: absolute;
		top: spacing();
		right: spacing();
	}
	
	// Quand il est sticky 
	&.is_stuck {
		padding: 0;
		// background-position: 0 -0.5em; 
		border-bottom: 1px solid var(--color-primary);
		box-shadow:
			0 0 0.75em rgba(0, 0, 0, 0.5),
			0 0 0.5em rgba(0, 0, 0, 0.075);
		
		.container {
			flex-direction: row;
			align-items: end;
		}
		.home {
			align-self: center;
		}
		.home__logo {
			display: block;
			max-width: 2em;
			max-height: 2em;
			
			img,svg {
				max-height: 2em;
			}
		}
	}
	
	// Responsive
	@include g-state( tablet ) {
		.container {
			//padding-left: spacing();
			padding-right: spacing();
			flex-direction: row;
			align-items: center;
		}
		.home {
			margin-inline-start: 0	;
			margin-inline-end: spacing();
		}
		.home__slogan {
			display: flex;
		}
	}
	@include g-state( desktop ) {
		padding: spacing(0.75) 0;
		
		.home {
			img,svg {
				max-height: spacing(2);
			}
		}
		.home,
		.home__link {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.home__slogan {
			margin-left: auto;
			margin-right: auto;
			margin-top: 3.5em; // décalage arbitraire pour aligner avec le logo 
		}
	}

	// Variante fixed à mettre en JS seulement quand on a mis les bonnes marges en JS aussi 
	&_fixed {
		position: absolute;
		width: 100%;
		top: 0.1px;

		.home {
			margin-right: 2em;
		}
		.menus {
			padding-top: 5px; // ~ hauteur de l'image en background 
		}
	}
}

/* Garder une correspondance de padding de défilement avec le header */
[id] {
	scroll-margin-block-start: 5rem;
}
