<body>
	[(#REM) <!-- Conteneur de la page --> ]
	<div class="page" id="page">

		[(#REM) <!-- Navigation d'accès rapide --> ]
<!--
		<nav class="nav nav_access" id="access" role="navigation">
			<div class="container">
				< INCLURE{fond=inclure/access, env}>
			</div>
		</nav>
-->
		
		[(#REM) <!-- Entête général du site : logo, nom, menus, etc. --> ]
		<header class="header" id="header" role="banner">
			<div class="container">
				<INCLURE{fond=header/#ENV{type-page}, env}>
			</div>
		</header>

		[(#REM) <!-- Contenu principal --> ]
		<div class="content" id="content">
			<main class="main" id="main" role="main">
				<INCLURE{fond=main/#ENV{type-page}, env}>
			</main>
			<aside id="aside">
				<INCLURE{fond=aside/#ENV{type-page}, env}>
			</aside>
		</div>

		[(#REM) <!-- Pied de page --> ]
		<footer class="footer" id="footer" role="contentinfo">
			<div class="container">
				<INCLURE{fond=footer/#ENV{type-page}, env}>
			</div>
		</footer>
	</div>
</body>
