<div class="footer__inner">
	<div class="footer__item footer__item_plateformes">
		[(#REM) À remplacer par le bon logo le plus décoré]
		#LOGO_SITE_SPIP
		
		[<div class="descriptif_site">
			(#DESCRIPTIF_SITE_SPIP)
		</div>]
		
		<B_plateformes>
		<div class="menu menu_plateformes">
			<ul class="menu-items">
				<BOUCLE_plateformes(RUBRIQUES){racine}{soustitre != ""}{par num titre, titre}>
				<li class="menu-items__item">
					<a href="#URL_RUBRIQUE">
						[(#LOGO_RUBRIQUE|balise_img_svg{'', 'spip_logo'})]
						
						<div class="titre">#TITRE</div>
						<div class="soustitre">#SOUSTITRE</div>
					</a>
				</li>
				</BOUCLE_plateformes>
			</ul>
		</div>
		</B_plateformes>
	</div>
	
	[(#PLUGIN{menus}|oui)
	<nav class="footer__item footer__item_menu">
		<INCLURE{fond=inclure/menu, identifiant=footer, env}>
	</nav>
	]
	
	<div class="footer__item footer__item_partenaires">
		<BOUCLE_partenaires(SELECTIONS){identifiant=partenaires}>
		<BOUCLE_logos(SELECTIONS_CONTENUS){id_selection}{par rang}>
		<a href="#URL" aria-label="[(#TITRE|attribut_html)]" title="[(#TITRE|attribut_html)]">[(#LOGO_SELECTIONS_CONTENU|image_reduire{0,200})]</a>
		</BOUCLE_logos>
		</BOUCLE_partenaires>
	</div>
</div>
