[(#REM) Nom du site, logo, etc. ]
<div class="home">
	[(#SI_PAGE{sommaire}|non)<a class="home__link" href="#URL_SITE_SPIP" rel="start home" title="<:accueil_site|attribut_html:>">]

	[<div class="home__logo">(#LOGO_SITE_SPIP
		|balise_img_svg{#NOM_SITE_SPIP,no-adapt-img}
		|image_reduire{960,0}
	)</div>]

	[(#SI_PAGE{sommaire}|non)</a>]
</div>

<div class="menus">
	<nav id="firstnav" class="menu menu_firstnav">
		<B_firstnav>
		<ul class="menu-items">
			<BOUCLE_firstnav (RUBRIQUES) {id_parent=0}{soustitre!=""}{par num titre, titre}>
			[(#COMPOSITION|=={balades}|et{#SI_PAGE{itineraire}|ou{#SI_PAGE{itineraires_etape}}})
				[(#VAL{rubrique}|setenv{page})]
				[(#ID_RUBRIQUE|setenv{id_rubrique})]
			]
			[(#COMPOSITION|=={mediatheque}|et{#SI_PAGE{document}})
				[(#VAL{rubrique}|setenv{page})]
				[(#ID_RUBRIQUE|setenv{id_rubrique})]
			]
			<li class="menu-items__item [(#EXPOSE{active})]">
				<a href="#URL_RUBRIQUE" class="menu-items__lien">
					<BOUCLE_logo_compact (DOCUMENTS) {role=logo_compact} {id_rubrique}>
					[(#FICHIER|balise_img_svg{'', 'menu-items__icone', 48})]
					</BOUCLE_logo_compact>
					<span class="menu-items__label titre">#TITRE</span>
					<span class="menu-items__label titre_court">[(#TITRE_COURT|sinon{#TITRE})]</span>
				</a>
			</li>
			</BOUCLE_firstnav>
		</ul>
		</B_firstnav>
	</nav>
	
	[<nav class="menu menu_lang">
		(#PLUGIN{mll}|?{#INCLURE{fond=formulaires/menu_lang,env}, #MENU_LANG})
	</nav>]
</div>
