/**
 * Page 404
 */
[class^=page_40] {

	#breadcrumb {
		display: none;
	}

	h1 {
		&:after {
			content: '';
			margin-top: spacing();
			display: block;
			width: 100%;
			height: 25vh;
			background-image: url('images/browser_error.svg');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: auto 100%;
		}
	}

	.strate_lies .message {
		margin-bottom: spacing(2);
	}

}