/**
 * Template : annuaire
 */
.page_annuaire {
	.carte {
		margin-bottom: spacing(2);
	}
	// Titre en doublon
	.leaflet-popup-pane .title {
		display: none;
	}


	.pagination.alpha {
		padding-bottom: spacing(1/2);
		margin-bottom: spacing();
		border-bottom: 1px dotted var(--color-border);
	}
}
