/**
 * Template : évènement
 */

.page_evenement {
	// Date et géolocalisation
	// Nb : fond de couleur sur les sections car elles sont optionnelles
	.geodate {
		margin-bottom: spacing(3);
		padding: spacing(2);
		font-family: setting(font-family-headings);
		font-size: 0.9em;
		background-color: var(--color-lightest);

		&__section {
			&:not(:last-child) {
				margin-bottom: spacing();
			}

			&__date {
				.geodate__title {
					@extend .icon-calendar;
				}
			}
			&__location {
				.geodate__title {
					@extend .icon-location;
				}
			}
			&__map {
				padding: 0;
			}
		}
		&__title {
			@extend .icon;
			font-size: 1em;
			color: var(--color-secondary);

			&:before {
				margin-right: 0.33em;
			}
		}
		&__data {
			margin: 0;
		}

		// Responsive
		@include g-state( desktop ){
			&__section {
				display: flex;
				flex-flow: row wrap;
				&:not(:first-child) {
					padding-top: 0;
				}
			}
			&__title {
				flex: 0 1 25%;
				margin: 0;
			}
			&__data {
				flex: 1 1 auto;
			}
			&__map {
				flex: 1 0 100%;
			}
		}
	}

	.text {
		margin-bottom: spacing(2);
	}
}
