/**
 * Template : page de login
 */

.page_login {

	h1 {
		@extend .icon;
		@extend .icon-login;
		&:first-letter {
			text-transform: uppercase;
		}
		small {
			color:var(--color-primary);
		}
	}

	.formulaire_menu_lang {
		margin-bottom: spacing();
		padding: spacing();
		background-color:var(--color-lightest);
	}

}
