/**
 * Template : organisation
 */
.page_organisation {
	.spip_logo {
		@include g-state( desktop ) {
			float: right;
		}
	}
	
	#content {
		.container {
			@extend .container_text;
		}
	}

	.descriptif {
		margin-bottom: spacing(2);
	}
	
	.contact-info {
		@extend .background_light;
		
		padding: spacing();
		margin: spacing() 0;
	}
	
	// Infos affichées sous forme de pseudo tableau
	// Nb : on ne contrôle pas le markup de #VOIR_CHAMPS_EXTRAS
	.identity {
		font-family:setting(font-family-headings);
		
		&__label, .label {
			margin: 0 0 spacing(1/4);
			color: var(--color-primary);
			font-weight: normal;
		}
		&__item, .valeur {
			margin: 0 0 spacing();
		}
		&__item {
			&_numeros,
			&_emails {
				p {
					margin-bottom: 0;
				}
			}
			// Adresses côte à côte
			&_adresses {
				@include antigutter;
				display: flex;
				flex-flow: row wrap;
				align-items: flex-start;
			}
			.adresse {
				@include gutter;
				flex: 1 1 10em;
			}
		}
		p:last-child,
		ul:last-child {
			margin-bottom: 0;
		}
		.email,
		.numero {
			@extend .icon;
		}
		.email {
			@extend .icon-mail;
		}
		.numero {
			@extend .icon-phone;
		}
		// Ajustements champs extras
		.champ.vide {
			display: none; // champs extras « sans réponse »
		}
		.saisie_checkbox,
		.saisie_radio {
			ul {
				margin-left: 0;
				list-style: none;
			}
			li {
				display: inline;
				&:not(:first-child) {
					&:before {
						content: ", ";
					}
				}
			}
		}

		// Responsive
		@include g-state( desktop ) {
			h3 {
				flex: 1 0 100%;
			}
			.champ {
				flex: 1 0 100%;
				display: flex;
				flex-flow: row wrap;
				align-items: flex-start;
			}
			&__label, .label {
				flex: 0 1 25%;
				margin-bottom: spacing();
				position: relative;
				//text-decoration: underline solid white; // Fallback pour les champs extras
				
				span {
					padding-right: 0.5em;
					//background-color: white;
				}
				// Trait
/*
				&:after {
					content: "";
					z-index: -1;
					position: absolute;
					display: block;
					left: 0;
					right: 0;
					bottom: 0.3em;
					border-bottom: 1px dotted var(--color-primary);
				}
*/
			}
			&__item, .valeur {
				flex: 1 1 75%;
				padding-left: spacing();
			}
		}
	}

	// Carte
	.strate_carte {
		@extend .full-width;
	}

	// Liste des contacts
	.strate__contacts {
		@extend .full-width;
		margin: 0;
		padding: spacing() 0;
		background-color: var(--color-lightest);
		.strate__inner {
			@extend .container_text;
		}
	}
	
	// Stop le dev, plus le temps, on va masquer les champs à masquer en CSS pour l'instant 
	// Ce sera vraiment enlevé quand on aura des vrais noisettes configurables pour afficher les champs extras, mais pas là dans le squelette perso 
	.afficher_date_adhesion,
	.afficher_statuts_objet,
	.afficher_statuts_precisions,
	.afficher_couverture,
	.afficher_expertise,
	.afficher_autres_reseaux,
	.afficher_reseaux_locaux,
	.afficher_reseaux_regionaux,
	.afficher_reseaux_nationaux,
	.afficher_presidente_email,
	.afficher_presidente_telephone,
	.afficher_presidente_mobile {
		display: none !important;
	}
}
