/**
 * Template : rubrique
 */

.page_rubrique {
	.cartouche {
		background-color: var(--color-primary);
		text-align: center;
		
		&__inner {
			@extend .container;
			width: auto;
			flex-flow: column;
			align-items: center;
			padding-top: spacing(2);
			padding-bottom: spacing(2);
		}
		&__media {
			padding: 0;
			text-align: center;
			margin-bottom: spacing(1.5);
			
			svg {
				width: 7.5em;
			}
		}
		&__body {
			padding: 0;
		}
		&__titre {
			text-transform: uppercase;
			font-family: setting(font-family-text);
			font-size: 2em;
			line-height: 1.5;
		}
		&__soustitre{
			font-family: setting(font-family-headings);
		}
		&__texte {
			@extend .container_text;
		}
	}
	
	.list:not(.list_documents) {
		@extend .background_primary;
		border-top: 2px solid white;
		padding-top: spacing(2);
		margin-bottom:25%;
		
		.list__items {
/*
			transform: translateY(50%);
*/
			margin-bottom: -15%;
		}
		
		.preview {
			margin: 0 calc(#{setting(gutter)} / 2);
		}
	}
	.preview {
		&__plateforme {
			display: none;
		}
	}
}

/* Spécifique à Vitrines d'empires */
.rubrique_vitrines {
	.cartouche {
		padding-bottom: 30vh;
	}
	.carte_gis {
		box-sizing: border-box;
		border: spacing() solid white;
		border-radius: spacing();
		margin-top: -30vh;
	}
}

.rubrique_mediatheque {
	.list_documents {
		@extend .container;
		@extend .list_columns_4;
		padding-top: spacing(2);
	}
}
