/**
 * Template : sommaire
 */

.page_sommaire {

	#nom_site_spip {
		@extend .visually-hidden;
	}

	#logo_site_spip {
		@extend .visually-visible;
	}

	.breadcrumb {
		display: none;
	}

	#main {
		> .container {
			@extend .container_none;
		}
	}

	// Grosse marge sous les titres de certaines strates
	.menu_profils h2,
	.noisette_features h2,
	.noisette_selection_editoriale h2,
	[class*=noisette_liste_] h2 {
		margin-bottom: spacing(4);
	}

}