[(#REM)

	Modele pour les images

]
<BOUCLE_image (DOCUMENTS) {media=image} {id_document=#ENV{id,#ENV{id_document}}} {inclus=image} {mode?} {tout}>
[(#SET{autolien,#MEDIA|media_determine_autolien{#EXTENSION,#LARGEUR,#HAUTEUR,#ID_DOCUMENT}|oui})]
[(#SET{image,[(#ENV{largeur}|ou{#ENV{hauteur}}|?{
		[(#FICHIER|image_reduire{#ENV{largeur,10000},#ENV{hauteur,10000}})],
		[<img src='(#URL_DOCUMENT_FICHIER|attribut_url)'[ width="(#LARGEUR|attribut_html)"][ height="(#HAUTEUR|attribut_html)"]/>]})]})]
[(#SET{image,#GET{image}|inserer_attribut{alt,#ENV{alt,#ALT}|sinon{''}}})]
[(#SET{legende,#INCLURE{fond=modeles/document_legende, env}|trim})]
<div
  class="[(#ID_DOCUMENT|medias_modele_document_standard_classes{image}) ]spip_lien_ok"[
  (#ID_DOCUMENT|medias_modele_document_standard_attributs{image})
]>
<figure class="spip_doc_inner">
[<a href="(#ENV{lien}|attribut_url)"[ class="(#ENV{lien_class}|concat{' spip_doc_lien'}|trim|attribut_html)"]>]
[(#ENV{lien}|non|et{#GET{autolien}})<a href="[(#URL_DOCUMENT|attribut_url)]" [ (#VAL{document}|objet_info{page}|?{class="spip_doc_lien", class="spip_doc_lien mediabox" type="#MIME_TYPE"})]>]
		#GET{image}
[(#ENV{lien}|ou{#GET{autolien}}|?{</a>})]
#GET{legende}
</figure>
</div>
</BOUCLE_image>
<INCLURE{fond=modeles/file,env} />
<//B_image>
