  
@font-face {
  font-family: "FFScala";
  src: url('../fonts/scala/FFScalaRegular/font.woff2') format('woff2'), url('../fonts/scala/FFScalaRegular/font.woff') format('woff');
  font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: "FFScala";
  src: url('../fonts/scala/FFScalaItalic/font.woff2') format('woff2'), url('../fonts/scala/FFScalaItalic/font.woff') format('woff');
  font-weight: normal;
	font-style: italic;
}
@font-face {
  font-family: "FFScala";
  src: url('../fonts/scala/FFScalaBoldItalic/font.woff2') format('woff2'), url('../fonts/scala/FFScalaBoldItalic/font.woff') format('woff');
  font-weight: bold;
	font-style: italic;
}
@font-face {
  font-family: "FFScala";
  src: url('../fonts/scala/FFScalaBold/font.woff2') format('woff2'), url('../fonts/scala/FFScalaBold/font.woff') format('woff');
  font-weight: bold;
	font-style: normal;
}
/*
@font-face {
  font-family: "FFScalaCondensed";
  src: url('../fonts/scala/FFScalaCondensed/font.woff2') format('woff2'), url('../fonts/scala/FFScalaCondensed/font.woff') format('woff');
  font-weight: normal;
	font-style: normal;
}
*/
/*
@font-face {
  font-family: "FFScalaCondensedBold";
  src: url('../fonts/scala/FFScalaCondensedBold/font.woff2') format('woff2'), url('../fonts/scala/FFScalaCondensedBold/font.woff') format('woff');
}
*/

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
         url('../fonts/roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
         url('../fonts/roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Italic.woff2') format('woff2'),
         url('../fonts/roboto/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-BoldItalic.woff2') format('woff2'),
         url('../fonts/roboto/Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
