////
/// Configuration de Mini Tiny Typo
/// @group paramètres
////

/// Options de Mini Tiny Typo
/// @access private
/// @type map
$minitinytypo: (

	// Typographie
	font-size:            setting(font-size-base),
	font-size-factor:     setting(font-size-factor),
	line-height:          setting(line-height),
	font-scale:           setting(font-scale),
	proximity:            setting(proximity),
	font-family-text:     setting(font-family-text),
	font-family-headings: setting(font-family-headings),

	// Couleurs
	color-main:           var(--color-primary),
	color-text:           var(--color-text),
	color-link:           var(--color-link),
	color-link-hover:     var(--color-link-hover),
	color-mid:            var(--color-border),

	// Breakpoints
	screen-small:         setting(media-small),
	screen-medium:        setting(media-medium),
	screen-large:         setting(media-normal)

);
