////
/// Définition des paramètres de configuration du projet.
/// Ne pas utiliser directement, récupérer ces valeurs au moyen la fonction setting().
/// @group paramètres
////

// Couleurs
// 
// Palette de couleurs
// 
// Colors:
// primary:       hsl(336, 85%, 52%)
// secondary:     hsl(224, 52%, 38%)
// complementary: hsl( 35, 80%, 47%)
// light:         hsl(0, 5%, 92%)
// medium:        hsl(336,  5%, 50%)
// dark:          hsl(345, 5%, 16%)
//
// Styleguide Parametres.Couleurs

/// Variable principale remplie par la suite avec tous les paramètres de configuration.
/// À ne pas utiliser directement, se servir de la fonction setting().
/// Exception : pour les espacements, c'est spacing()
///
/// @example
///   font-size:   setting(font-size);
///   font-family: setting(font-family-text);
/// @access private
/// @type map
/// @see setting()
$settings: ();

/**
 * ========
 * Couleurs
 * ========
 */

/// Palette brute.
/// Un nombre restreint de couleurs brutes, tirées notamment de la maquette.
/// @access private
/// @type map
$palette: (
	fuchsia:   hsl(323, 100%, 37%),
	bleu:      hsl(224, 52%, 38%),
	orange:    #E35D3F,
	neutre:    rgb(129, 123, 126),
	vert:      hsl(81, 88%, 37%),
	rouge:     #DE4237,
	jaune:     #FFF33C,
);

/// Palette fonctionnelle
/// @access private
/// @type map
$settings-couleurs: (
	color-primary:       map-get($palette, rouge),
	color-secondary:     map-get($palette, orange),
	color-complementary: map-get($palette, jaune),
	color-text:          change-color(map-get($palette, neutre), $lightness: 25%),
	color-text-light:    change-color(map-get($palette, neutre), $lightness: 40%),
	color-text-lighter:  change-color(map-get($palette, neutre), $lightness: 50%),
	color-text-lightest: change-color(map-get($palette, neutre), $lightness: 60%),
	color-link:          darken(map-get($palette, rouge), 10),
	color-link-hover:    lighten(map-get($palette, rouge), 10),
	color-border:        transparentize(change-color(map-get($palette, neutre), $lightness: 10%), 0.85),
	color-border-light:  transparentize(change-color(map-get($palette, neutre), $lightness: 10%), 0.9),
	color-border-dark:   transparentize(change-color(map-get($palette, neutre), $lightness: 10%), 0.33),
	color-medium:        map-get($palette, neutre),
	color-light:         change-color(map-get($palette, neutre), $lightness: 92%),
	color-lighter:       change-color(map-get($palette, neutre), $lightness: 94%),
	color-lightest:      change-color(map-get($palette, neutre), $lightness: 96%),
	color-dark:          change-color(map-get($palette, neutre), $lightness: 16%),
	color-darker:        change-color(map-get($palette, neutre), $lightness: 12%),
	color-darkest:       change-color(map-get($palette, neutre), $lightness: 8%),
	color-success:       map-get($palette, bleu),
	color-error:         map-get($palette, rouge),
	color-warning:       map-get($palette, jaune),
	color-info:          change-color(map-get($palette, neutre), $lightness: 50%),
);
$settings: map-merge($settings-couleurs, $settings);


/**
 * ===========
 * Typographie
 * ===========
 */

/// Paramètres typographiques
/// @access private
/// @type map
$settings-typo: (
	font-size-base:       em(16px),
	font-size-factor:     0.4,
	line-height:          1.5,
	font-scale:           2, // Shevy dans minitinytypo
	proximity:            false, // Shevy dans minitinytypo
	font-family-text:     #{Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif},
  font-family-headings: #{FFScala, serif},
	font-family-alt:      #{"Palatino Linotype", "Palatino LT STD", "Book Antiqua", "Georgia", serif},
);
$settings: map-merge($settings-typo, $settings);


/**
 * ===========
 * Breakpoints et conteneurs
 * ===========
 */

/// Définition des breakpoints
/// @access private
/// @type map
$settings-breakpoints: (
	media-small:  em(480px),
	media-medium: em(640px),
	media-normal: em(960px),
	media-large:  em(1300px),
	media-huge:   em(1920px),
);
$settings: map-merge($settings-breakpoints, $settings);

/// Largeurs des conteneurs
/// @access private
/// @type map
$settings-containers: (
	container-base: 1920px,
	container-text: 40rem
);
$settings: map-merge($settings-containers, $settings);


/**
 * ======
 * Divers
 * ======
 */

/// Paramètres divers
/// @access private
/// @type map
$settings-misc: (
	spacing: setting(font-size-base) * setting(line-height) / 1em * 1rem, // Espacement vertical (hauteur d'une ligne)
	gutter:  setting(font-size-base) * setting(line-height) / 1em * 1rem, // Espacement horizontal (gouttière)
	radius:  0.2em // Arrondi des blocs
);
$settings: map-merge($settings-misc, $settings);

/// États (pour les messages, les boutons, etc.)
/// @access private
/// @type list
$etats: (
	success,
	error,
	warning,
	info
);

:root {
	--color-medium: var(--color-neutre);
	--color-light: hsl(var(--color-neutre--h), var(--color-neutre--s), 92%);
	--color-lighter: hsl(var(--color-neutre--h), var(--color-neutre--s), 94%);
	--color-lightest: hsl(var(--color-neutre--h), var(--color-neutre--s), 96%);
	--color-light--lightness: 1;
	--color-lighter--lightness: 1;
	--color-lightest--lightness: 1;
	--color-light--is-dark: 0;
	--color-lighter--is-dark: 0;
	--color-lightest--is-dark: 0;
	--color-light--is-bright: 1;
	--color-lighter--is-bright: 1;
	--color-lightest--is-bright: 1;
	--color-dark: hsl(var(--color-secondary--h), var(--color-secondary--s), 16%);
	--color-darker: hsl(var(--color-secondary--h), var(--color-secondary--s), 12%);
	--color-darkest: hsl(var(--color-secondary--h), var(--color-secondary--s), 8%);
	--color-dark--lightness: 0;
	--color-darker--lightness: 0;
	--color-darkest--lightness: 0;
	--color-dark--is-dark: 1;
	--color-darker--is-dark: 1;
	--color-darkest--is-dark: 1;
	--color-dark--is-bright: 0;
	--color-darker--is-bright: 0;
	--color-darkest--is-bright: 0;
	--color-text: var(--color-darkest); //hsl(var(--color-secondary--h), var(--color-secondary--s), 25%);
	--color-text-light: hsl(var(--color-secondary--h), var(--color-secondary--s), 40%);
	--color-text-lighter: hsl(var(--color-secondary--h), var(--color-secondary--s), 50%);
	--color-text-lightest: hsl(var(--color-secondary--h), var(--color-secondary--s), 60%);
	--color-link: hsl(var(--color-primary--h), var(--color-primary--s), min(var(--color-primary--l), 45%));
	--color-link-hover: hsl(var(--color-primary--h), var(--color-primary--s), calc(min(var(--color-primary--l), 45%) - 10%));
	--color-border: hsla(var(--color-neutre--h), var(--color-neutre--s), 10%, 0.80);
	--color-border-light: hsla(var(--color-neutre--h), var(--color-neutre--s), 10%, 0.33);
	--color-border-lighter: hsla(var(--color-neutre--h), var(--color-neutre--s), 10%, 0.25);
	--color-border-lightest: hsla(var(--color-neutre--h), var(--color-neutre--s), 10%, 0.1);
	--color-border-dark: hsla(var(--color-neutre--h), var(--color-neutre--s), 10%, 0.9);
	--color-success: map-get($palette, bleu);
	--color-error: map-get($palette, rouge);
	--color-warning: map-get($palette, jaune);
	--color-info: hsl(var(--color-neutre--h), var(--color-neutre--s), 50%);
	--threshold: 0.5;
}
