
/**
 * Mises aux couleurs du thème pour les éléments de base
 */

// Défilement doux 
* {
	scroll-behavior: smooth;
}

// Titres
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	color: var(--color-primary);
	margin-top: 0;

	// On considère que <small> est le sous-titre (sauf pour les espaces insécables de Orthotypo) 
	small:not(.fine) {
		display: block;
		margin-top: spacing(1/4);
		font-size: 0.8em;
		line-height: inherit; // Tiny-typo met line-height: 1 
	}

	// Intertitres SPIP 
	&.spip {
		clear: both;
	}
}
.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }
.h5 { @extend h5; }
.h6 { @extend h6; }


// Titre d'une section 
.title_section {
	font-size: font-size-heading(1);
	margin-bottom: spacing(2);
	text-align: center;

	a:not(:hover):not(:focus) {
		color: inherit;
	}
}

// Liens 
a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		
		svg path {
			fill: var(--color-link-hover) !important;
		}
	}
	&:focus {
		outline: 0;
		
		svg path{
			fill: white !important;
		}
	}
}

// Listes 
ul.spip {}
ol.spip {}

// Trait de séparation 
hr {
	clear: both;
	margin: spacing() 0;
}

// Abbrévation, acronymes 
abbr, acronym {
	text-decoration: none; // Il y a déjà une bordure tiny typo 
}

// Citations 
// Styles minimaux dans minitinytypo de base (à virer d'ailleurs ?) 
blockquote {
	//border-color: hsl(var(--color-primary--h), var(--color-primary--s), calc(var(--color-primary--l) + 10%)); 
	border: 0;
	color: var(--color-primary);
	font-family: setting(font-family-headings);
	font-style: italic;
	font-size: 0.9em;
	
	footer {
		font-style: normal;
		color: var(--color-text);
	}
}

// Icones (cf. modules/_icons.scss, astuce pour simplifier les @extend) 
.icon {
	@extend [class^="icon-"];
}

// Cartouches : voir dans modules/_cartouche.scss 


// Métas 
.postmeta {
	position: relative;
	margin-bottom: spacing();
	font-family: setting(font-family-headings);
	font-size: 0.9em;

	&__item {

		&:first-letter {
			text-transform: uppercase;
		}

		// Séparations entre items 
		& ~ .postmeta__item:before {
			content: '•';
			padding: 0 0.5em;
		}

		&_publication {}
		&_comments {}
		&_tags {}
		&_auteurs {
			a {
				color: inherit;
				pointer-events: none; // Il n'y a pas de vraie page auteur pour l'instant 
			}
		}
	}
}

// Chapeaux 
.chapo {
	font-family: setting(font-family-headings);
	
	p {
		max-width: calc(#{setting(container-text)} + 10rem) !important;
	}
}

// Textes 
.texte,
.text {
	p,
	ul,
	ol,
	blockquote,
	pre {
		margin-bottom: spacing(1.5);
	}
	h3, h4, h5, h6 {
		margin-top: spacing(3);
	}
}

// Notes 
.notes {
	margin-top: spacing(3);
	margin-bottom: spacing(3);
	clear: both;
	h2 {
		text-align: center;
	}
}

// Merdes plugin typo enluminée 
// Encadré 
.texteencadre-spip {
	background-color: hsla(var(--color-secondary--h), 100%, 85%, 0.66);
	border: 0;
	padding: spacing(2);
	margin: 0 0 spacing(2);
}
// Mise en évidence 2 
.caractencadre2-spip {
	color: var(--color-secondary);
}
// Mise ne évidence 1 
.caractencadre-spip {
	color: var(--color-complementary);
}
