// Utilitaires
//
// Des classes utilitaires génériques, utiles pour transformer des éléments.
// À priori ça sert surtout aux noisettes.
//
// Styleguide Utils
 
// Marges internes
//
// Markup:
// <div class="border_dark {{modifier_class}}" style="display: inline-block"><span class="background_dark padding_small" style="display: inline-block">Contenu</span></div>
//
// .padding           - Base = équivalent de .padding_medium
// .padding_small     - Marge petite
// .padding_medium    - Marge moyenne
// .padding_large     - Marge grande
// .padding_huge      - Marge plus grande
// .padding_humongous - Marge énorme
// .padding_left      - Marge à gauche
// .padding_top       - Marge en haut
// .padding_right     - Marge à droite
// .padding_bottom    - Marge en bas
//
// Styleguide Utils.1
$margin-settings: (
	marges: padding margin,
	sides: top right bottom left,
	sizes: (
		smaller: 0.25,
		small: 0.5,
		medium: 1,
		large: 2,
		larger: 4,
		largest: 8
	)
);
@each $marge in map-get($margin-settings, marges) {
	// .padding
	.#{$marge} {
		#{$marge}: spacing(map-get(map-get($margin-settings, sizes), medium));
		@each $name,$size in map-get($margin-settings, sizes) {
			// .padding_large
			&_#{$name} {
				#{$marge}: spacing($size);
			}
		}
		@each $side in map-get($margin-settings, sides) {
			// .padding_left
			&_#{$side} {
				//#{$marge}: 0;
				#{$marge}-#{$side}: spacing(map-get(map-get($margin-settings, sizes), medium));
				@each $name,$size in map-get($margin-settings, sizes) {
					// .padding_left_large
					&_#{$name} {
						#{$marge}-#{$side}: spacing($size);
					}
				}
			}
		}
	}
}

/**
 * Des couleurs
 */
@each $name,$color in $settings-couleurs {
	$name: str-replace($name, 'color-', '');
	.color_#{$name} {
		color: $color;
	}
}

// Fonds
//
// Markup:
// <div class="padding_small {{modifier_class}}" style="display: inline-block">Contenu</div>
//
// .background_primary   - Couleur principale
// .background_secondary - Couleur secondaire
// .background_lightest  - Couleur très claire
// .background_lighter   - Couleur plus claire
// .background_light     - Couleur claire
// .background_dark      - Couleur sombre
// .background_darker    - Couleur plus sombre
// .background_darkest   - Couleur très sombre
//
// Styleguide Utils.2
$background-colors-settings: (
	primary: --color-primary,
	secondary: --color-secondary,
	lightest: --color-lightest,
	lighter: --color-lighter,
	light: --color-light,
	dark: --color-dark,
	darker: --color-darker,
	darkest: --color-darkest,
	lightest_blend: --color-lightest,
);
@each $name,$color in $background-colors-settings {
	.background_#{$name} {
		background-color: var($color);
		color: hsl(0, 0%, calc((var(#{$color}--lightness) - var(--threshold)) * -10000000%));
		
/*
		svg{
			path {
				fill: hsl(0, 0%, calc((var(#{$color}--lightness) - var(--threshold)) * -10000000%)) !important;
			}
		}
*/
		
		h1,h2,h3,h4,h5,h6 {
			color: inherit;
		}
		
		a {
			color: inherit;
		}
		a:hover,
		a:focus {
			text-decoration: underline;
			color: inherit;
			background-color: transparent;
/*
			color: hsl(0, 0%, calc((var(#{$color}--lightness) - var(--threshold)) * 10000000%));
			color: black;
*/
			
			svg{
				path {
					fill: currentColor !important;
				}
			}
		}
		
		// Les inputs avec un cadre (+chosen)
		textarea,
		input[type=text],
		input[type=search],
		input[type=password],
		input[type=email],
		input[type=telephone],
		select,
		[class*=chosen-container] .chosen-single {
			border-width: calc(var(#{$color}--is-bright) * 1px);
			background-color: hsla(0, 0%, 100%, 0.1);
			color: inherit;

			&:focus {
				background-color: hsla(
					0,
					0%,
					100%, 
					calc(var(#{$color}--is-bright) * 1 + var(#{$color}--is-dark) * 0.1)
				);
				//border-color: white;
				box-shadow: 0 0 0 calc(var(#{$color}--is-dark) * 0.2em) hsla(0, 0%, 100%, 0.1);
			}
		}
		
		.button {
			background-color: white;
			color: var(--color-text);
			
			&:hover, &:focus {
				
			}
			
			&_secondary {
				border-color: white;
				color: white;
				background-color: transparent;
				
				&:hover, &:focus {
					background-color: white;
					color: var(--color:dark);
				}
			}
		}
		
		// Résumés avec fond blanc
		.preview {
			background-color: hsla(0, 0%, 100%, calc(var(#{$color}--is-dark) * 1));
			color: var(--color-text);
		}
		
		// Cartouche
		.cartouche {
			&__titre {
				color: inherit;
			}
		}
		
		/* TEMP
		// Si couleur sombre, ajustements : garder le texte lisible, etc.
		@if lightness($color) < 66% {

			// Motif léger
			background-image: url('images/pattern-02-light.svg');

			// Features
			.feature {
				&__media {
					background-color: white;
					border-radius: 99em;
					padding: 2em;
				}
				svg path {
					fill: var(--color-secondary);
				}
				a:hover,
				a:focus {
					color: inherit;
				}
				&:hover,
				&:focus {
					svg path {
						fill: var(--color-primary);
					}
				}
			}

			// Menu
			.menu_blocs {
				.menu-items[data-depth="0"] > .menu-items__item > a {
					color: white;
					border-color: hsla(0, 0%, 100%, 0.15);

					// Hover + Ouvert 
					&:hover,
					&:focus,
					.open {
						background-color: hsla(0, 0%, 100%, 0.1);
						border-color: hsla(0, 0%, 100%, 0.15);
					}
				}
				.menu-items[data-depth="1"] > .menu-items__item > a {
					color: var(--color-text);
				}
			}
		}
		*/

		// Bidouillages
		@if $name == 'lightest_blend' {
			background-color: transparent;
			background-image:
				linear-gradient(
					0deg,
					transparent 0%,
					var(--color-lightest) 10%,
					var(--color-lightest) 90%,
					transparent 100%
				);
		}
	}
}

// Bordures
//
// Markup:
// <div class="padding_small {{modifier_class}}" style="display: inline-block">Contenu</div>
//
// .border           - Base
// .border_primary   - Couleur principale
// .border_light     - Couleur claire
// .border_medium    - Couleur moyenne
// .border_dark      - Couleur sombre
// .border_left      - À gauche
// .border_top       - En haut
// .border_right     - À droite
// .border_bottom    - En bas
//
// Styleguide Utils.3
$border-settings: (
	width: 1px,
	style: solid,
	sides: top right bottom left,
	colors: (
		primary: var(--color-primary),
		medium: var(--color-border),
		light: var(--color-border-light),
		dark: var(--color-border-dark)
	)
);
.border {
	border: map-get($border-settings, width) map-get($border-settings, style) map-get(map-get($border-settings, colors), medium);
	@each $name,$color in map-get($border-settings, colors) {
		// .border_dark
		&_#{$name} {
			border: map-get($border-settings, width) map-get($border-settings, style) $color;
			border-color: $color;
		}
	}
	@each $side in map-get($border-settings, sides) {
		// .border_left
		&_#{$side} {
			border-#{$side}: map-get($border-settings, width) map-get($border-settings, style) map-get(map-get($border-settings, colors), medium);
			@each $name,$color in map-get($border-settings, colors) {
				// .border_left_dark
				&_#{$name} {
					border-#{$side}: map-get($border-settings, width) map-get($border-settings, style) $color;
				}
			}
		}
	}
}

// Texte en blanc
//
// Markup:
// <div style="background:#444;padding:1em"><span class="text_light">Contenu</span></div>
//
// Styleguide Utils.4
.text_light {
	color: white;

	a:hover,
	a:focus {
		color: hsl(var(--color-primary--h), var(--color-primary--s), 85%);
	}
}

.none, .js .none-js, .no-js .none-nojs {
	display: none;
}
