[(#REM)

	Les choses du <head> propres au thème

]

[(#REM) Priority nav ]
<!--
[<script src="(#CHEMIN{javascript/priority-nav.js})" type="text/javascript"></script>]
-->

[(#REM) Sticky ]
<!--
[<script src="(#CHEMIN{javascript/sticky-kit.min.js})" type="text/javascript"></script>]
-->

[(#REM) Nos scripts à nous ]
[<script src="(#CHEMIN{javascript/marsimperium_theme.js})" type="text/javascript"></script>]
