[(#REM) Sens du tri des documents ]
#SET{tri_sens,#ARRAY{
	date,       #ENV{sens,-1},
	media,      #ENV{sens,1},
	fichier,    #ENV{sens,1},
	extension,  #ENV{sens,1},
	titre,      #ENV{sens,1},
	num titre,  #ENV{sens,1},
	sinum titre,#ENV{sens,1},
	id_document,#ENV{sens,1},
	rang_lien,  #ENV{sens,1},
}}
#SET{tri_defaut,#ENV{id_document}|?{sinum titre,rang_lien}}

[(#REM) Contenu de la légende ]
#SET{legende, #ARRAY{
	titre,      #ENV*{titre,#INFO_TITRE*{album,#ENV{id_album}}},
	descriptif, #ENV*{descriptif,#INFO_DESCRIPTIF*{album,#ENV{id_album}}},
	credits,    #ENV*{credits,#INFO_CREDITS*{album,#ENV{id_album}}}
}}

[(#REM) Compat numéros séparés par des virgules si id_document ]
[(#ENV{id_document}|oui)
	[(#ENV{id_document}|is_array|?{#ENV{id_document},#ENV{id_document}|explode{','}}|setenv{id_document})]
]

[(#REM) Divers ]
#SET{pagination,     #ENV{pagination}|sinon{#CONST{_ALBUMS_PAGINATION}}|sinon{40}}
#SET{classe_caption, #ENV{position_legende}|sinon{#CONST{_ALBUMS_POSITION_LEGENDE}}}
#SET{classe_legacy,  vignettes}

[(#REM) Params calculés d'après le contexte ]
#SET{params,#ALBUM_PARAMS}

[(#REM) Rustine : pour contourner des problèmes de jointure auto avec objet + id_objet, on fait le where à la main + critère {documents_album} mais seulement si pas de id_album ]
[(#ENV{id_album}|non)
	#SET{where,#VAL{' AND '}|join{#LISTE{
		#ENV{objet}|?{#VAL{documents_liens.objet=}|concat{#ENV{objet}|sql_quote}},
		#ENV{id_objet}|?{#VAL{documents_liens.id_objet=}|concat{#ENV{id_objet}}}
	}|array_filter}}
]

#SET{slideshow_params, #ARRAY{slidesToShow, 3}}
<BOUCLE_params(DATA){source table,#ENV**|unserialize}>
[(#CLE|match{^slick_}|oui)
	#SET{cle, #CLE|replace{^slick_}}
	#SET{slideshow_params, #GET{slideshow_params}|array_merge{#ARRAY{
		#GET{cle}, #VALEUR,
	}}}
]
</BOUCLE_params>

#SET{ids, #LISTE}
<BOUCLE_documents_modele_album(DOCUMENTS)
	{documents_album}
	{id_album?}
	{where #GET{where}}
	{id_document?}
	{tri #ENV{par,#GET{tri_defaut}}, #GET{tri_sens}}
	{media=image}
	{extension?}
	{tout}
	{si #ENV{id_album}|ou{#ENV{objet}}|ou{#ENV{id_document}}}
>
#SET{ids, #GET{ids}|array_merge{#LISTE{#ID_DOCUMENT}}}
</BOUCLE_documents_modele_album>

<figure
	class="album album_model album_slick album_images [ album_caption-(#GET{classe_caption})][ (#ENV{classe}|attribut_html)][ (#ENV{align})][ (#GET{classe_legacy})]"
	id="modele_album_[(#GET{params/uniqid})]"
>
	<INCLURE{fond=inclure/galleries/diaporama_images,
			masquer=#LISTE{titre},
			id_document=#GET{ids},
			ratio=#ENV{recadrer_ratio},
			slideshow_params=#GET{slideshow_params},
			env}>
	
	[(#ENV{masquer_legende}|non|et{#GET{legende}|array_filter}|oui)
		<figcaption class="album__caption spip_doc_legende">
			[<strong class="album__heading spip_doc_titre">(#GET{legende/titre}|supprimer_numero|propre|ptobr)</strong>]
			[<div class="album__text spip_doc_descriptif">(#GET{legende/descriptif}|propre|ptobr)[(#NOTES|ptobr)]</div>]
			[<div class="album__credits spip_doc_credits">(#GET{legende/credits}|propre|ptobr)</div>]
		</figcaption>
	]
</figure>
