[(#REM)

	Insérer un svg inline

	Ex.: <svg15|left|alt=un texte alternatif|class=responsive>

]
<BOUCLE_svg(DOCUMENTS) {id_document=#ENV{id_document,#ENV{id}}} {extension=svg} {tout}>
<figure
	class="spip_document_#ID_DOCUMENT spip_documents[ spip_documents_(#ENV{align})][ (#ENV{align})][ (#ENV{class})] spip_lien_ok"
	[(#TITRE|ou{#DESCRIPTIF}|ou{#CREDITS}|oui)role="group"]
	style="[width:(#LARGEUR)px][;height:(#HAUTEUR)px]"
>

	[<a href="(#ENV{lien})"[ class="(#ENV{lien_class})"]>]
	[(#URL_DOCUMENT|balise_svg{#ENV{alt,#TITRE}})]
	[(#ENV{lien}|oui)</a>]

	[(#TITRE|ou{#DESCRIPTIF}|ou{#CREDITS}|oui)
	<figcaption class="spip_documents_caption">
		[<div class='#EDIT{titre} spip_documents_titre'><strong>(#TITRE)</strong></div>]
		[<div class='#EDIT{descriptif} spip_documents_descriptif'>(#DESCRIPTIF|PtoBR)[(#NOTES|PtoBR)</div>]]
		[<div class='#EDIT{credit} spip_documents_credit'><small>(#CREDITS)</small><div>]
	</figcaption>
	]

</figure>
</BOUCLE_svg>