[(#REM)

	Modèle pour afficher des images sur une seule ligne.
	Toutes les images qui se suivent seront affichées sur une seule ligne.
	<doc1|ligne> <doc2|ligne> <doc3|ligne>

	Les images sont affichées pour tenir dans la largeur.
	Les <ul> consécutifs sont fusionnés par la suite via pipeline.

	Paramètres :

		- class
		- align
		- hauteur (à partir de spip 3.3)

]
<ul class="spip_documents_ligne[ (#ENV{class})]">
	<li class="spip_documents_ligne__doc" style="flex: [(#INFO_LARGEUR{document, #ENV{id}}|div{#INFO_HAUTEUR{document, #ENV{id}}}|round{4})]">
		<INCLURE{fond=modeles/image, id_document=#ENV{id}, class=#EVAL{null}, env}>
	</li>
</ul>
