[(#REM)

	Head standard de toutes les pages
	Les éléments spécifiques aux objets (title, description) figurent dans les squelettes head/{objet}.html

]
[(#REM) Préciser le charset ]
<meta http-equiv="Content-Type" content="text/html; charset=#CHARSET" />

[(#REM) Fièrement fabrique avec SPIP ]
<meta name="generator" content="SPIP[ (#SPIP_VERSION)]" />

[(#REM) Lien vers le flux RSS du site ]
[<link rel="alternate" type="application/rss+xml" title="<:syndiquer_site:>" href="(#URL_PAGE{backend})" />]


[(#REM) 
	=======
	  CSS
	=======
]


[(#REM) Base CSS sans styles graphiques ]
<meta name="viewport" content="width=device-width, initial-scale=1.0">
[<link rel="stylesheet" href="(#CSS{css/reset.css}|timestamp)" type="text/css" />]
[<link rel="stylesheet" href="(#CSS{css/spip.css}|timestamp)" type="text/css" />]

[(#REM) Des styles de base pour le megamenu accessible, à personnaliser ensuite en thème ]
[<link rel="stylesheet" href="(#CSS{css/menu_folding.css}|timestamp)" type="text/css" />]

[(#REM) Des styles de base pour Slick, à thémer ensuite ]
[<link rel="stylesheet" href="(#CSS{css/slick.css}|timestamp)" type="text/css" />]

[(#REM) CSS des plugins ]
#INSERT_HEAD_CSS

[(#REM) Feuille de style du theme]
[<link rel="stylesheet" href="(#CSS{css/theme.css}|timestamp)" type="text/css" />]

[(#REM) Feuille de style CSS pour l'impression ]
[<link rel="stylesheet" href="(#CSS{css/print.css}|timestamp)" type="text/css" media="print" />]

[(#REM) Compléments du thème ]
[(#CHEMIN{inc-theme-head.html}|oui)
<INCLURE{fond=inc-theme-head, env} >
]

[(#REM) Feuille de style personnalisée ]
[<link rel="stylesheet" href="(#CSS{css/perso.css}|timestamp)" type="text/css" />]


[(#REM) 
	==============
	  JAVASCRIPT
	==============
]


[(#REM) Scripts des plugins ]
#INSERT_HEAD

[(#REM) Préfixer à la volée les CSS ]
[<script type="text/javascript" src="(#CHEMIN{javascript/prefixfree.js}|timestamp)"></script>]

[(#REM) Permettre des menus dépliants accessibles ]
[<script type="text/javascript" src="(#CHEMIN{javascript/jquery-accessibleMegaMenu.js}|timestamp)"></script>]

[(#REM) Diaporamas ]
[<script type="text/javascript" src="(#CHEMIN{javascript/slick.min.js}|timestamp)"></script>]

[(#REM) Wheel ]
[<script type="text/javascript" src="(#CHEMIN{javascript/raphael.min.js}|timestamp)"></script>]
[<script type="text/javascript" src="(#CHEMIN{javascript/wheelnav.min.js}|timestamp)"></script>]

[(#REM) Lancer des scripts pour tout le squelette ]
[<script type="text/javascript" src="(#CHEMIN{javascript/marsimperium.js}|timestamp)"></script>]
