<ul class="menu-items">
	<li class="menu-items__item menu-items__item_contexte">
		<a href="#contexte" class="menu-items__lien"><:marsimperium:a_savoir:></a>
		
		<B_chapitres>
		<ul class="menu-items" id="sommaire">
			<BOUCLE_chapitres (DATA) {source table,#ENV*{sommaire}} {niveau=1}>
			<li class="menu-items__item">
				<a class="menu-items__lien" href="#HREF">#TITRE</a>
			</li>
			</BOUCLE_chapitres>
		</ul>
		</B_chapitres>
	</li>
	<li class="menu-items__item menu-items__item_exploration">
		<a href="#exploration" class="menu-items__lien"><:marsimperium:naviguer:></a>
	</li>
	[(#REM) Est-ce qu'il y a une sélection éditoriale associée ? ]
	<BOUCLE_test_selection (SELECTIONS ?) {objet=#ENV{objet}} {id_objet=#ENV{id_objet}}{0,1}>
	<li class="menu-items__item menu-items__item_selection">
		<a href="#selection" class="menu-items__lien"><:marsimperium:selection:></a>
	</li>
	</BOUCLE_test_selection>
	<li class="menu-items__item menu-items__item_haut">
		<a href="#page" class="menu-items__lien"><:marsimperium:haut:></a>
	</li>
</ul>
