#SET{masquer, #ENV{masquer}|is_array|?{#ENV{masquer}, #LISTE}}

<BOUCLE_document (DOCUMENTS) {id_document}>
#SET{item, #OMEKA_DATA|sinon{#ARRAY}}
<div class="visionneuse">
	<div class="visionneuse__medias">
		[(#REM) Suivant le type de média, on ne va pas afficher pareil ]
		[(#MEDIA|=={image}|oui)
			[(#FICHIER
				|balise_img_svg{#ALT, "no-adapt-img osd-image"}
				|inserer_attribut{data-osd-height, 100%}
				|inserer_attribut{data-osd-cover, oui})]
		]
		[(#MEDIA|=={video}|oui)
			#MODELE{emb, id_document, masquer=legende}
		]
		[(#MEDIA|=={audio}|oui)
			#MODELE{emb, id_document, masquer=legende}
		]
		[(#MEDIA|=={file}|oui)
			#MODELE{emb, id_document, masquer=legende}
		]
	</div>
	
	<div class="visionneuse__notice">
		[(#VAL{titre}|in_array{#GET{masquer}}|non)
		<h1 class="visionneuse__titre">[(#TITRE|sinon{#GET{item/o:title}})]</h1>
		]
		
		[(#GET{item}|omeka_extraire_infos{dcterms:type}|table_valeur{valeurs}|implode{', '})][,
		(#GET{item}|omeka_extraire_infos{dcterms:date}|table_valeur{valeurs}|implode{', '})][,
		(#GET{item}|omeka_extraire_infos{dcterms:format}|table_valeur{valeurs}|implode{', '})][,
		(#GET{item}|omeka_extraire_infos{dcterms:creator}|table_valeur{valeurs}|implode{', '})][,
		(#GET{item}|omeka_extraire_infos{dcterms:publisher}|table_valeur{valeurs}|implode{', '})][,
		(#GET{item}|omeka_extraire_infos{dcterms:rightsHolder}|table_valeur{valeurs}|implode{', '})][,
		(#GET{item}|omeka_extraire_infos{dcterms:source}|table_valeur{valeurs}|implode{', '})]
		
		[<p><a href="(#GET{item}|generer_url_omeka_item)" class="button button_secondary"><:marsimperium:voir_notice:></a></p>]
	</div>
</div>
</BOUCLE_document>
