/**
 * @license
 * MyFonts Webfont Build ID 3867246, 2020-12-16T11:57:38-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: HelveticaLTWXX-Roman by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/helvetica/pro-regular/
 * Copyright: Copyright © 2014 Monotype Imaging Inc. All rights reserved.
 * 
 * 
 * 
 * © 2020 MyFonts Incn*/



  
@font-face {
  font-family: "FFScalaRegular";
  src: url('webFonts/FFScalaRegular/font.woff2') format('woff2'), url('webFonts/FFScalaRegular/font.woff') format('woff');
}
@font-face {
  font-family: "FFScalaCondensed";
  src: url('webFonts/FFScalaCondensed/font.woff2') format('woff2'), url('webFonts/FFScalaCondensed/font.woff') format('woff');
}
@font-face {
  font-family: "FFScalaItalic";
  src: url('webFonts/FFScalaItalic/font.woff2') format('woff2'), url('webFonts/FFScalaItalic/font.woff') format('woff');
}
@font-face {
  font-family: "FFScalaCondensedBold";
  src: url('webFonts/FFScalaCondensedBold/font.woff2') format('woff2'), url('webFonts/FFScalaCondensedBold/font.woff') format('woff');
}
@font-face {
  font-family: "FFScalaBoldItalic";
  src: url('webFonts/FFScalaBoldItalic/font.woff2') format('woff2'), url('webFonts/FFScalaBoldItalic/font.woff') format('woff');
}
@font-face {
  font-family: "FFScalaBold";
  src: url('webFonts/FFScalaBold/font.woff2') format('woff2'), url('webFonts/FFScalaBold/font.woff') format('woff');
}

