[(#REM)

	Page erreur 401 (accès interdit)

]
<section class="fullcontent fullcontent_error">
	<header class="strate strate_cartouche cartouche">
		<div class="strate__inner">
			<h1 class="cartouche__titre"><:pass_erreur:>[ (#ENV{status})]</h1>
		</div>
	</header>

	<div class="strate strate_main main">
		<div class="strate__inner">
			[<div class="chapo">(#ENV{erreur})</div>]
		</div>
	</div>

	[<aside>
		(#FORMULAIRE_LOGIN{#ENV{cible},'',0})
	</aside>]
</section>
