[(#REM) 

	Page erreur 404

	On prend le texte d'un article/page unique 404, sinon une chaîne de langue
	On essaie aussi de trouver des contenus se rapportant à l'URL.
	Ex : http://lesite.ltd/lorem_ipsum => on fait une recherche sur « lorem ipsum »

]
<section class="fullcontent fullcontent_error">
	<header class="cartouche">
		<div class="cartouche__inner">
			<h1 class="cartouche__titre"><:pass_erreur:> 404</h1>
		</div>
	</header>

	[(#REM) Contenu principal ]
	<div class="strate strate_main main">
		<div class="strate__inner">

			<BOUCLE_404(ARTICLES) {page=404}>
			<div class="message message_erreur #EDIT{texte}">#TEXTE</div>
			</BOUCLE_404>
			<p class="message message_erreur"><:pass_erreur:> 404</p>
			<//B_404>

		<div class="strate__inner">
	</div>

	[(#REM) Contenus liés ]
	[(#REM) On tente d'extraire des termes de recherche d'après l'URL ]
	#SET{url, #SELF|url_absolue|parse_url}
	#SET{baseurl, #GET{url/scheme}|concat{'://', #GET{url/host}, #GET{url/path}}}
	#SET{recherche,#GET{url/path}|match{spip\.php$}|?{'',#GET{baseurl}|replace{#URL_SITE_SPIP}|replace{'\[_/\]',' '}|trim}}
	[(#GET{recherche}|et{''}|oui)
	[<aside class="strate strate_lies">
		<div class="strate__inner">
			<p class="message message_info">
				<:aeromys:texte_404_recherche:>
			</p>

			(#INCLURE{fond=inclure/recherche,
				recherche=#GET{recherche},
				masquer=#LISTE{message_aucun},
				pagination=3})
		</div>
	</aside>]
	]
</section>
