[(#REM)

	Annuaire

]
<BOUCLE_content(ANNUAIRES){id_annuaire}>
<section class="fullcontent fullcontent_annuaire">
	[(#REM) Cartouche ]
	<header class="strate strate_cartouche cartouche">
		<div class="strate__inner">
			<h1 class="#EDIT{titre}">#TITRE</h1>
			<p class="postmeta">
				[<span class="postmeta__item postmeta__item_publication">
					<time pubdate="pubdate" datetime="[(#DATE|date_iso)]">
						<:dernier_ajout:> : (#DATE|affdate_jourcourt).
					</time>
				</span>]
			</p>
		</div>
	</header>

	[(#REM) Contenu principal ]
	<div class="strate strate_main main">
		<div class="strate__inner">

			[<div class="#EDIT{descriptif} chapo">(#DESCRIPTIF|adaptive_images)</div>]

			[(#REM) Carte ]
			<BOUCLE_carte(GIS?){objet=organisation}{0,1}>
			<div class="carte carte_annuaire">
				<INCLURE{fond=modeles/carte_gis,
					objets=organisations,
					centrer_auto=oui,
					zoom=15,
					hauteur=50em}
				/>
			</div>
			</BOUCLE_carte>

			[(#REM) Organisations ]
			<INCLURE{fond=inclure/lists/organisations,
				id_annuaire,
				par=nom,
				pagination=40,
				preview=organisation_simple,
				variante=simple,
				message_aucun='',
				pagination_alpha=oui,
				env,
				ajax}
			/>

		</div>
	</div>

	[(#REM) Contenus liés : documents, sites ]
	[<aside class="strate strate_lies">
		<div class="strate__inner">

			[(#REM) Documents liés, hors images ]
			(#INCLURE{fond=inclure/documents,
				objet=annuaire,
				id_objet=#ID_ANNUAIRE})

		</div>
	</aside>]

	[(#REM) Compléments ]
	[<footer class="strate strate_complements">
		<div class="strate__inner">

			<div class="notes">
				<h2><:info_notes:></h2>
				(#NOTES)
			</div>

		</div>
	</footer>]
</section>
</BOUCLE_content>
