[(#REM)

	Article par défaut à remplir avec des noisettes

]
<BOUCLE_article(ARTICLES) {id_article}>
<article class="fullcontent fullcontent_article" itemscope itemtype="http://schema.org/NewsArticle">
	<header class="cartouche">
		<div class="cartouche__inner">
			<BOUCLE_logo_compact_secteur(DOCUMENTS){objet=rubrique}{id_objet=#ID_SECTEUR}{role=logo_compact}{0,1}>
			#SET{media, #FICHIER}
			</BOUCLE_logo_compact_secteur>
			#SET{media, #CHEMIN{images/icone_mars_fill.svg}}
			<//B_logo_compact_secteur>
			[<div class="cartouche__media" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
				(#GET{media}
					|balise_img_svg
					|inserer_attribut{alt, ""})
			</div>]
			<div class="cartouche__body">
				[<div class="cartouche__surtitre"><a href="#URL_RUBRIQUE{#ID_RUBRIQUE}">(#INFO_TITRE{rubrique, #ID_RUBRIQUE}|couper{100,"…"})</a></div>]
				<h1 class="fullcontent__title cartouche__titre #EDIT{titre}" itemprop="headline">#TITRE</h1>
			</div>
		</div>
	</header>
	
	<div class="fullcontent__body" id="contexte">
		<div class="chapo #EDIT{chapo}">#CHAPO</div>
		<div class="texte #EDIT{texte}">
			#TEXTE
			
			[<section class="sommaire-section sommaire-section_h2">
				<h2>Notes</h2>
				(#NOTES)
			</section>]
			<section class="sommaire-section sommaire-section_h2" id="bibliographie">
				[<h2><:marsimperium:bibliographie:></h2>
				(#BIBLIOGRAPHIE)]
				
				<h2><:marsimperium:citer:></h2>
				#SET{auteurs_citation, ''}
				<BOUCLE_auteurs_citation (AUTEURS) {id_article}{par nom}>#SET{auteurs_citation, #GET{auteurs_citation}|concat{"; ", #NOM}|trim{"; "}}</BOUCLE_auteurs_citation>
				<p>#MODELE{cite_web, site=#NOM_SITE_SPIP, title=#TITRE, authors=#GET{auteurs_citation}, accessdate=#DATE*, url=#SELF|url_absolue}</p>
			</section>
		</div>
	</div>
</article>
</BOUCLE_article>
