[(#REM)

	Article par défaut à remplir avec des noisettes

]
<BOUCLE_article(ARTICLES) {id_article}>
<article class="fullcontent fullcontent_article" itemscope itemtype="http://schema.org/VideoObject">
	<header class="cartouche">
		<div class="cartouche__inner">
			<BOUCLE_logo_compact_secteur(DOCUMENTS){objet=rubrique}{id_objet=#ID_SECTEUR}{role=logo_compact}{0,1}>
			#SET{media, #FICHIER}
			</BOUCLE_logo_compact_secteur>
			#SET{media, #CHEMIN{images/icone_mars_fill.svg}}
			<//B_logo_compact_secteur>
			[<div class="cartouche__media" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
				(#GET{media}
					|balise_img_svg
					|inserer_attribut{alt, ""})
			</div>]
			<div class="cartouche__body">
				[<div class="cartouche__surtitre"><a href="#URL_RUBRIQUE{#ID_RUBRIQUE}">(#INFO_TITRE{rubrique, #ID_RUBRIQUE}|couper{100,"…"})</a></div>]
				<h1 class="fullcontent__title cartouche__titre #EDIT{titre}" itemprop="headline">#TITRE</h1>
			</div>
		</div>
	</header>
	
	[(#REM) On cherche le logo, document principal, et on l'affiche en grand ]
	<div class="fullcontent__media">
		<BOUCLE_logo (DOCUMENTS) {id_article} {role=logo} {0,1}>
			<INCLURE{fond=inclure/visionneuse, masquer=#LISTE{titre},id_document}>
		</BOUCLE_logo>
	</div>
	
	[(#REM) On va chercher tous les docs liés dans Omeka au principal ]
	#SET{omeka_ids, #GET{omeka_data/dcterms:references}|sinon{#ARRAY}|array_column{@id}}
	#SET{ids_docs,#LISTE}
	<BOUCLE_docs_lies(DOCUMENTS){omeka IN #GET{omeka_ids}}>#SET{ids_docs, #GET{ids_docs}|array_merge{#LISTE{#ID_DOCUMENT}}}</BOUCLE_docs_lies>
	[(#GET{ids_docs}|oui)
	<div class="fullcontent__slider">
		<INCLURE{fond=inclure/galleries/diaporama_images, 
			id_document=#GET{ids_docs},
			masquer=#LISTE{titre, doc_legende},
			ratio="4:3",
			hauteur=100,
			slideshow_params=#ARRAY{
				slidesToShow, 1,
				variableWidth, 'on', 
				slidesToScroll, 1,
				adaptiveHeight, '',
				infinite, '',
				swipeToSlide, 'on',
				arrows, '',
			},
		}>
	</div>
	]
	
	<div class="fullcontent__menu menu menu_folding">
		<INCLURE{fond=inclure/menu_ancres, sommaire=#TEXTE|sommaire_recenser{1, ''}}>
	</div>
	
	<div class="fullcontent__body" id="contexte">
		<div class="text_fold">
			<div class="chapo #EDIT{chapo}">#CHAPO</div>
			<div class="texte #EDIT{texte}">
				#TEXTE
				
				[<section class="sommaire-section sommaire-section_h2">
					<h2>Notes</h2>
					(#NOTES)
				</section>]
				<section class="sommaire-section sommaire-section_h2" id="bibliographie">
					[<h2><:marsimperium:bibliographie:></h2>
					(#BIBLIOGRAPHIE)]
					
					<h2><:marsimperium:citer:></h2>
					#SET{auteurs_citation, ''}
					<BOUCLE_auteurs_citation (AUTEURS) {id_article}{par nom}>#SET{auteurs_citation, #GET{auteurs_citation}|concat{"; ", #NOM}|trim{"; "}}</BOUCLE_auteurs_citation>
					<p>#MODELE{cite_web, site=#NOM_SITE_SPIP, title=#TITRE, authors=#GET{auteurs_citation}, accessdate=#DATE*, url=#SELF|url_absolue}</p>
				</section>
			</div>
		</div>
	</div>
</article>
</BOUCLE_article>
