[(#REM)

	Article par défaut à remplir avec des noisettes

]
<BOUCLE_auteur (AUTEURS) {id_auteur} {tous}>
<section class="fullcontent fullcontent_auteur vcard" itemscope itemtype="http://schema.org/Person">
<!--noisettes-->
</section>
</BOUCLE_auteur>
