
<BOUCLE_etape (ITINERAIRES_ETAPES) {gis} {id_itineraires_etape}>
<article class="fullcontent fullcontent_itineraires_etape" itemscope itemtype="http://schema.org/Place">
	<header class="cartouche">
		<div class="cartouche__inner">
			[<div class="cartouche__media" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
				(#CHEMIN{images/icone_balades_fill.svg}
					|balise_img_svg
					|inserer_attribut{itemprop,contentUrl})
			</div>]
			<div class="cartouche__body">
				[<div class="cartouche__surtitre"><a href="#URL_ITINERAIRE{#ID_ITINERAIRE}">(#INFO_TITRE{itineraire, #ID_ITINERAIRE}|couper{100,"…"})</a></div>]
				<h1 class="fullcontent__title cartouche__titre #EDIT{titre}" itemprop="headline">#TITRE</h1>
			</div>
		</div>
	</header>
	
	[(#REM) Soit GeoJSON, soit GPX, soit KML mais pas les trois ]
	#SET{kml,#LISTE} #SET{gpx,#LISTE} #SET{geojson,#LISTE}
	<BOUCLE_test_geojson(DOCUMENTS){tout}{extension=json}{id_itineraire}{si #PLUGIN{gis}}>
	#SET{geojson, #GET{geojson}|push{#ID_DOCUMENT}}
	</BOUCLE_test_geojson>
		<BOUCLE_test_gpx(DOCUMENTS){tout}{extension=gpx}{id_itineraire}{si #PLUGIN{gis}}>
		#SET{gpx, #GET{gpx}|push{#ID_DOCUMENT}}
		</BOUCLE_test_gpx>
			<BOUCLE_test_kml(DOCUMENTS){tout}{extension=kml}{id_itineraire}{si #PLUGIN{gis}}>
			#SET{kml, #GET{kml}|push{#ID_DOCUMENT}}
			</BOUCLE_test_kml>
		<//B_test_gpx>
	<//B_test_geojson>
	#SET{centrer_fichier, #GET{geojson}|ou{#GET{gpx}}|ou{#GET{kml}}|?{oui, ''}}
	<INCLURE{fond=modeles/carte_gis,
		width=100%,
		height=50vh,
		gesture_handling=oui,
		id_carte_gis=etapes,
		objets=itineraires_etapes,
		id_itineraire,
		id_a_ouvrir=#ID_GIS,
		autocenterandzoom=non,
		zoom=15,
		lat=#LAT,
		lon=#LON,
		fullscreen=oui,
		geojson=#GET{geojson},
		gpx=#GET{gpx},
		kml=#GET{kml}},
		centrer_fichier=#GET{centrer_fichier}>
	
	<B_etapes>
	<div class="fullcontent__slider">
		#SET{slideshow_params, #ARRAY{
			slidesToShow, 1,
			variableWidth, 'on', 
			slidesToScroll, 1,
			swipeToSlide, 1,
			adaptiveHeight, '',
			infinite, '',
			swipeToSlide, 'on',
			arrows, '',
		}|json_encode}
		<div class="gallery gallery_slideshow">
			<div class="gallery__items" data-slideshow="[(#GET{slideshow_params}|attribut_html{0})]">
				<BOUCLE_etapes (ITINERAIRES_ETAPES) {id_itineraire} {par rang}>
				<div class="gallery__item" title="[(#TITRE|attribut_html)]">
					<INCLURE{fond=inclure/previews/itineraires_etape, id_itineraires_etape, ratio_logo=4:3, hauteur_logo=100, masquer=#LISTE{publication,introduction}}>
				</div>
				</BOUCLE_etapes>
			</div>
		</div>
	</div>
	</B_etapes>
	
	<div class="fullcontent__menu menu menu_folding">
		<INCLURE{fond=inclure/menu_ancres, sommaire=#TEXTE|sommaire_recenser{1, ''}, objet=itineraires_etape, id_objet=#ID_ITINERAIRES_ETAPE}>
	</div>
	
	<div class="fullcontent__body">
		<div class="text_fold">
			<div class="texte #EDIT{texte}">
				#TEXTE
				
				<section class="sommaire-section sommaire-section_h2" id="bibliographie">
					[<h2><:marsimperium:bibliographie:></h2>
					(#BIBLIOGRAPHIE)]
					
					<h2><:marsimperium:citer:></h2>
					#SET{auteurs_citation, ''}
					<BOUCLE_auteurs_citation (AUTEURS) {id_itineraires_etape}{par nom}>#SET{auteurs_citation, #GET{auteurs_citation}|concat{"; ", #NOM}|trim{"; "}}</BOUCLE_auteurs_citation>
					<p>#MODELE{cite_web, site=#NOM_SITE_SPIP, title=#TITRE, authors=#GET{auteurs_citation}, accessdate=#DATE*, url=#SELF|url_absolue}</p>
				</section>
			</div>
		</div>
		
		<div class="container">
		<INCLURE{fond=inclure/galleries/diaporama_images, 
			objet=itineraires_etape, id_objet=#ID_ITINERAIRES_ETAPE,
			vu=non,
			titre=" ",
			hauteur=500,
			slideshow_params=#ARRAY{
				slidesToShow, 1,
				variableWidth, 'on', 
				slidesToScroll, 1,
				swipeToSlide, 1,
				adaptiveHeight, '',
				infinite, '',
				swipeToSlide, 'on',
				arrows, '',
			},
		}>
		</div>
	</div>
</article>
</BOUCLE_etape>
