[(#REM)

	Article par défaut à remplir avec des noisettes

]
<BOUCLE_itineraire(ITINERAIRES) {id_itineraire}>
<itineraire class="fullcontent fullcontent_itineraire" itemscope itemtype="https://schema.org/Trip">
	<header class="cartouche">
		<div class="cartouche__inner">
			<BOUCLE_logo_compact_secteur(DOCUMENTS){objet=rubrique}{id_objet=#ID_SECTEUR}{role=logo_compact}{0,1}>
			#SET{media, #FICHIER}
			</BOUCLE_logo_compact_secteur>
			#SET{media, #CHEMIN{images/icone_mars_fill.svg}}
			<//B_logo_compact_secteur>
			[<div class="cartouche__media" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
				(#GET{media}
					|balise_img_svg
					|inserer_attribut{alt, ""})
			</div>]
			<div class="cartouche__body">
				<BOUCLE_secteur (RUBRIQUES) {composition=balades} {0,1}>
				[<div class="cartouche__surtitre"><a href="#URL_RUBRIQUE">(#TITRE|couper{100,"…"})</a></div>]
				</BOUCLE_secteur>
				<h1 class="fullcontent__title cartouche__titre #EDIT{titre}" itemprop="name">#TITRE</h1>
			</div>
		</div>
	</header>
	
	[(#REM) Soit GeoJSON, soit GPX, soit KML mais pas les trois ]
	#SET{kml,#LISTE} #SET{gpx,#LISTE} #SET{geojson,#LISTE}
	<BOUCLE_test_geojson(DOCUMENTS){tout}{extension=json}{id_itineraire}{si #PLUGIN{gis}}>
	#SET{geojson, #GET{geojson}|push{#ID_DOCUMENT}}
	</BOUCLE_test_geojson>
		<BOUCLE_test_gpx(DOCUMENTS){tout}{extension=gpx}{id_itineraire}{si #PLUGIN{gis}}>
		#SET{gpx, #GET{gpx}|push{#ID_DOCUMENT}}
		</BOUCLE_test_gpx>
			<BOUCLE_test_kml(DOCUMENTS){tout}{extension=kml}{id_itineraire}{si #PLUGIN{gis}}>
			#SET{kml, #GET{kml}|push{#ID_DOCUMENT}}
			</BOUCLE_test_kml>
		<//B_test_gpx>
	<//B_test_geojson>
	#SET{centrer_fichier, #GET{geojson}|ou{#GET{gpx}}|ou{#GET{kml}}|?{oui, ''}}
	<INCLURE{fond=modeles/carte_gis,
		width=100%,
		height=66vh,
		gesture_handling=oui,
		id_carte_gis=etapes,
		objets=itineraires_etapes,
		id_itineraire,
		autocenterandzoom=oui,
		fullscreen=oui,
		geojson=#GET{geojson},
		gpx=#GET{gpx},
		kml=#GET{kml}},
		centrer_fichier=#GET{centrer_fichier}>
	
	<div class="fullcontent__body" id="contexte">
		<div class="text_fold">
			<div class="texte #EDIT{texte}">
				<section class="sommaire-section sommaire-section_niveau1 sommaire-section_h2">
					#TEXTE
				</section>
				
				[<section class="sommaire-section sommaire-section_h2">
					<h2>Notes</h2>
					(#NOTES)
				</section>]
				<section class="sommaire-section sommaire-section_h2" id="bibliographie">		
					<h2><:marsimperium:citer:></h2>
					#SET{auteurs_citation, ''}
					<BOUCLE_auteurs_citation (AUTEURS) {id_itineraire}{par nom}>#SET{auteurs_citation, #GET{auteurs_citation}|concat{"; ", #NOM}|trim{"; "}}</BOUCLE_auteurs_citation>
					<p>#MODELE{cite_web, site=#NOM_SITE_SPIP, title=#TITRE, authors=#GET{auteurs_citation}, accessdate=#DATE*, url=#SELF|url_absolue}</p>
				</section>
			</div>
		</div>
		
		<div class="etapes">
		<INCLURE{fond=inclure/lists/itineraires_etapes, id_itineraire, env, pagination=10000, masquer=#LISTE{voir_plus, introduction, publication}}>
		</div>
		
		<B_etapes>
		<div class="itineraires_etapes" itemprop="itinerary" itemtype="https://schema.org/ItemList" itemscope>
			<meta itemprop="numberOfItems" content="#TOTAL_BOUCLE" />
			<BOUCLE (ITINERAIRES_ETAPES) {id_itineraire} {par rang}>
			
			</BOUCLE>
		</div>
		</B_etapes>
	</div>
</itineraire>
</BOUCLE_itineraire>
