[(#REM)

	Organisation

]
<BOUCLE_content(ORGANISATIONS) {id_organisation}>
<section class="fullcontent fullcontent_organisation" itemscope itemtype="https://schema.org/Organization">
	[(#REM) Cartouche ]
	<header class="strate strate_cartouche cartouche">
		<div class="strate__inner">
			<h1 class="#EDIT{titre}">#NOM</h1>
			[<p class="postmeta">
				<span class="#EDIT{url_site} url_site">(#URL_SITE|propre|ptobr)</span>
			</p>]
		</div>
	</header>

	[(#REM) Contenu principal ]
	<div class="strate strate_main main">
		<div class="strate__inner">

			[<div class="descriptif #EDIT{descriptif}">(#DESCRIPTIF|adaptive_images)</div>]

			[(#REM) Infos de base et coordonnées ]
			<section class="strate strate_organisation">
				<div class="strate__inner">
					<dl class="identity">

						[<dt class="identity__label"><span><:contacts:label_statut_juridique:></span></dt>
						<dd class="identity__item identity__item_status #EDIT{statut_juridique}">(#STATUT_JURIDIQUE)</dd>]

						[<dt class="identity__label"><span><:contacts:label_identification:></span></dt>
						<dd class="identity__item identity__item_identification #EDIT{identification}">(#IDENTIFICATION)</dd>]

						[<dt class="identity__label"><span><:contacts:label_activite:></span></dt>
						<dd class="identity__item identity__item_activity #EDIT{activite}">(#ACTIVITE)</dd>]

						[<dt class="identity__label"><span><:contacts:label_ouvertures:></span></dt>
						<dd class="identity__item identity__item_business-hours #EDIT{ouvertures}">(#OUVERTURES|adaptive_images)</dd>]

						[<dt class="identity__label"><span><:contacts:label_tarifs:></span></dt>
						<dd class="identity__item identity__item_prices #EDIT{tarifs}">(#TARIFS|adaptive_images)</dd>]

						[(#VOIR_CHAMPS_EXTRAS)]

						<B_numeros_organisation>
						<dt class="identity__label"><span>[(#TOTAL_BOUCLE|singulier_ou_pluriel{coordonnees:numero,coordonnees:numeros})]</span></dt>
						<dd class="identity__item identity__item_telephones">
							<BOUCLE_numeros_organisation(NUMEROS?)
								{id_organisation}
								{par sinum titre, titre}
							>
							<p class="telephone[ telephone_(#TYPE)]"[ title="(#TITRE|sinon{#TYPE|coordonnees_lister_types_numeros})"]>
								<span class="#EDIT{numero}" itemprop="[(#TYPE|=={fax}|?{faxNumber,telephone})]">#NUMERO</span>
							</p>
							</BOUCLE_numeros_organisation>
						</dd>
						</B_numeros_organisation>

						<B_emails_organisation>
						<dt class="identity__label"><span>[(#TOTAL_BOUCLE|singulier_ou_pluriel{coordonnees:email,coordonnees:emails})]</span></dt>
						<dd class="identity__item identity__item_emails">
							<BOUCLE_emails_organisation(EMAILS?)
								{id_organisation}
								{par sinum titre, titre}
							>
							<p class="email[ email_(#TYPE)]"[ title="(#TITRE|sinon{#TYPE|coordonnees_lister_types_emails})"]>
								<span class="#EDIT{email}">#EMAIL</span>
							</p>
							</BOUCLE_emails_organisation>
						</dd>
						</B_emails_organisation>

						<B_adresses_organisation>
						<dt class="identity__label"><span>[(#TOTAL_BOUCLE|singulier_ou_pluriel{coordonnees:adresse,coordonnees:adresses})]</span></dt>
						<dd class="identity__item identity__item_addresses">
							<BOUCLE_adresses_organisation(ADRESSES?)
								{id_organisation}
								{par sinum titre, titre}
								>
								<address class="address[ address_(#TYPE)]" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
									[<span class="address__item address__item_title #EDIT{titre}">(#TITRE)</span>]
									[<span class="address__item address__item_street #EDIT{voie}" itemprop="streetAddress">(#VOIE)</span>]
									[<span class="address__item address__item_street #EDIT{complement}" itemprop="streetAddress">(#COMPLEMENT)</span>]
									[<span class="address__item address__item_post-office-box #EDIT{boite_postale}" itemprop="postOfficeBoxNumber">(#BOITE_POSTALE)</span>]
									[<span class="address__item address__item_postal-code #EDIT{code_postal}" itemprop="postalCode">(#CODE_POSTAL)</span>]
									[<span class="address__item address__item_locality #EDIT{ville}" itemprop="addressLocality">(#VILLE)</span>]
								</address>
							</BOUCLE_adresses_organisation>
						</dd>
						</B_adresses_organisation>

					</dl>
				</div>
			</section>

			[(#REM) Carte ]
			[(#PLUGIN{gis}|oui)
			[<section class="strate strate_map carte" id="geolocalisation">
				<div class="strate__inner">
					(#MODELE{carte_gis_objet,
						id_carte_gis=carte_organisation_#ID_ORGANISATION,
						objet=organisation,
						id_objet=#ID_ORGANISATION,
						height=360px,
						type=relief,
						zoom_molette=non,
						fullscreen=oui,
						centrer_auto=oui,
						zoom=12})
				</div>
			</section>]
			]

			[(#REM) Contacts ]
			<section class="strate strate__contacts" itemprop="employees" id="contacts">
				<div class="strate__inner">
					<INCLURE{fond=inclure/lists/contacts,
						id_organisation,
						par=nom,
						pagination=20,
						message_aucun='',
						url_preview='',
						env,
						ajax}
					/>
				</div>
			</section>

		</div>
	</div>


	[(#REM) Contenus liés : documents, sites ]
	[<aside class="strate strate_lies">
		<div class="strate__inner">

			[(#REM) Documents liés, hors images ]
			(#INCLURE{fond=inclure/documents,
				objet=annuaire,
				id_objet=#ID_ANNUAIRE})

		</div>
	</aside>]


	[(#REM) Compléments ]
	[<footer class="strate strate_complements">
		<div class="strate__inner">

			<div class="notes">
				<h2><:info_notes:></h2>
				(#NOTES)
			</div>

		</div>
	</footer>]
</section>
</BOUCLE_content>
