[(#REM)

	Plan du site

]
<section>
	[(#REM) Cartouche ]
	<header class="strate strate_cartouche cartouche">
		<div class="strate__inner">
			<h1><:plan_site:></h1>
		</div>
	</header>

	[(#REM) Contenu principal ]
	<div class="strate strate_main main">
		<div class="strate__inner">
			<BOUCLE_secteurs(RUBRIQUES) {racine} {par num titre, titre}>
			<h2 class="h2">
				<a href="#URL_RUBRIQUE">#TITRE <BOUCLE_articles_racine(ARTICLES) {id_rubrique} />[(#_articles_racine:TOTAL_BOUCLE|>{0}|oui)(<:info_nb_articles{nb=#_articles_racine:TOTAL_BOUCLE}:>)]</B_articles_racine></a>
			</h2>

			<B_rubriques>
			<ul class="plan">
				<BOUCLE_rubriques(RUBRIQUES) {id_parent} {par titre}>
				<li>
					<strong>
						<a href="#URL_RUBRIQUE">#TITRE <BOUCLE_articles(ARTICLES) {id_rubrique} />[(#_articles:TOTAL_BOUCLE|>{0}|oui)(<:info_nb_articles{nb=#_articles:TOTAL_BOUCLE}:>)]</B_articles</a>
					</strong>
					
					<BOUCLE_sous_rubriques(BOUCLE_rubriques)></BOUCLE_sous_rubriques>
				</li>
				</BOUCLE_rubriques>
			</ul>
			</B_rubriques>
			</BOUCLE_secteurs>
		</div>
	</div>
</section>
