[(#REM)

	Recherche

]

<section class="fullcontent fullcontent_recherche" itemscope itemtype="https://schema.org/SearchResultsPage">
[(#REM) Cartouche ]
<header class="strate strate_cartouche cartouche">
	<div class="strate__inner">
		<h1 class="cartouche__titre">
			<:resultats_recherche:>
			[(#REM)[<small>&#171;&nbsp;(#RECHERCHE)&nbsp;&#187;</small>]]
		</h1>
	</div>
</header>

<div class="strate strate_recherche">
	<div class="strate__inner">
		#FORMULAIRE_RECHERCHE
	</div>
</div>


[(#REM) Contenu principal ]
<!--
<div class="strate strate_main main">
	<div class="strate__inner">

	[(#ENV{recherche}|oui)
	< INCLURE{fond=inclure/recherche, env, ajax=recherche}>
	]

	</div>
</div>
-->
