[(#REM)

	Rubrique par défaut à remplir avec des noisettes

]
<BOUCLE_rubrique(RUBRIQUES) {id_rubrique}>
<section class="fullcontent fullcontent_rubrique" itemscope itemtype="http://schema.org/CreativeWork">
	<header class="cartouche">
		<div class="cartouche__inner">
			<BOUCLE_logo_compact_secteur(DOCUMENTS){objet=rubrique}{id_objet=#ID_SECTEUR}{role=logo}{0,1}>
			#SET{media, #FICHIER}
			</BOUCLE_logo_compact_secteur>
			#SET{media, #CHEMIN{images/icone_mars_fill.svg}}
			<//B_logo_compact_secteur>
			[<div class="cartouche__media" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
				(#GET{media}
					|balise_img_svg
					|inserer_attribut{alt, ""})
			</div>]
			<div class="cartouche__body">
				<h1 class="fullcontent__title cartouche__titre #EDIT{titre}" itemprop="headline">#TITRE</h1>
				[<div class="cartouche__soustitre">(#SOUSTITRE)</div>]
				[<div class="cartouche__texte">(#DESCRIPTIF)</div>]
			</div>
		</div>
	</header>
	
	<div class="fullcontent__body">
		<div class="container">
		<INCLURE{fond=modeles/carte_gis,
			id_carte_gis=vitrines,
			objets=articles_vitrines,
			id_secteur=#ID_RUBRIQUE,
			maxZoom=6,
			tooltip=oui,
			cluster=oui,
			clusterMaxZoom=6,
			clusterSpiderfyOnMaxZoom=oui,
			default_layer=esri_oceanbasemap,
			width=100%,
			height=90vh,
			gesture_handling=oui,
			autocenterandzoom=oui,
			env}>
		</div>
		
		[<div class="container_text texte #EDIT{texte}">
			(#TEXTE*|sommaire_propre{'',#ENV})
		</div>]
	</div>
</section>
</BOUCLE_rubrique>
