[(#REM)

	Rubrique par défaut à remplir avec des noisettes

]
<BOUCLE_rubrique(RUBRIQUES) {id_rubrique}>
<section class="fullcontent fullcontent_rubrique" itemscope itemtype="http://schema.org/CreativeWork">
	<header class="cartouche">
		<div class="cartouche__inner">
			<BOUCLE_logo_compact_secteur(DOCUMENTS){objet=rubrique}{id_objet=#ID_SECTEUR}{role=logo}{0,1}>
			#SET{media, #FICHIER}
			</BOUCLE_logo_compact_secteur>
			#SET{media, #CHEMIN{images/icone_mars_fill.svg}}
			<//B_logo_compact_secteur>
			[<div class="cartouche__media" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
				(#GET{media}
					|balise_img_svg
					|inserer_attribut{alt, ""})
			</div>]
			<div class="cartouche__body">
				<h1 class="fullcontent__title cartouche__titre #EDIT{titre}" itemprop="headline">#TITRE</h1>
				[<div class="cartouche__soustitre">(#SOUSTITRE)</div>]
				[<div class="cartouche__texte">(#TEXTE)</div>]
			</div>
		</div>
	</header>
	
	<div class="fullcontent__body">
		<B_sousrubriques>
		<BOUCLE_sousrubriques (RUBRIQUES) {id_parent=#ID_RUBRIQUE} {par num titre, titre}>
		<div class="strate" id="rubrique#ID_RUBRIQUE">
			<INCLURE{fond=inclure/lists/articles}{id_rubrique}{titre=#TITRE}{pagination=10000}{masquer=#LISTE{voir_plus, publication, introduction}}>
		</div>
		</BOUCLE_sousrubriques>
		</B_sousrubriques>
	</div>
</section>
</BOUCLE_rubrique>
