[(#REM)

	Page d'accueil : tout en noisettes

]
<article class="fullcontent fullcontent_sommaire" itemscope itemtype="https://schema.org/WebSite">
	<header class="cartouche">
		[<div class="cartouche__media" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
			(#CHEMIN{images/icone_mars_fill.svg}
				|balise_img_svg
				|inserer_attribut{itemprop,contentUrl})
		</div>]
		<div class="cartouche__body">
			<h1 class="fullcontent__title cartouche__titre #EDIT{titre}" itemprop="name">#NOM_SITE_SPIP</h1>
		</div>
	</header>
	
	<div class="fullcontent__body">
		<div class="container_text">
			
		</div>
	</div>
</article>
