<section>
	<header class="cartouche">
		<div class="cartouche__inner">
			<h1>#NOM_SITE_SPIP</h1>
		</div>
	</header>

	<div class="main">
		<div class="pass container_text">
			[(#ENV{p}|non)
				#FORMULAIRE_OUBLI
			]
			[(#ENV{p}|oui)
				#FORMULAIRE_MOT_DE_PASSE
			]
		</div>
	</div>
</section>
