/**
 * ==========
 * Hyperlinks
 * ==========
 */
@if mtt(links) {

a {
  -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.
  color: mtt(color-link);
  text-decoration: none;
  transition: all 0.2s;

  &:visited {
    color: mtt(color-link);
  }
  
  &:hover {
    cursor: pointer;
    color: mtt(color-link-hover);
  }

  &:focus {
    background-color: mtt(color-link-hover);
    color: white;
  }

  /**
   * Add unicode icons after some types of links
   */

  &[hreflang]:after,
  &[href^="mailto:"]:after,
  &[href^="tel:"]:after,
  &[rel]:after {
    //font-size: 90%;
    //opacity: 0.9;
  }

  // Display lang
  &[hreflang]:after {
    content: " ["attr(hreflang) "]";
    font-weight: normal;
  }

  // External
  // ➚ http://unicode-table.com/en/279A/
  &[rel~="external"] {
    &:after {
      content: " ➚";
    }
    &[hreflang]:after {
      content: " ["attr(hreflang) "] ➚";
    }
  }

  // Mailto
  // ✉ http://unicode-table.com/en/2709/
  &[href^="mailto:"] {
    &:after {
      content: " ✉";
    }
    &[hreflang]:after {
      content: " ["attr(hreflang) "] ✉";
    }
  }

  // Tel
  // ✆ http://unicode-table.com/en/2706/
  &[href^="tel:"] {
    &:after {
      content: " ✆";
    }
    &[hreflang]:after {
      content: " ["attr(hreflang) "] ✆";
    }
  }
  
  // Download
  // ↧ http://unicode-table.com/en/21A7/
  &[rel~="download"] {
    &:after {
      content: " ↧";
    }
    &[hreflang]:after {
      content: " ["attr(hreflang) "] ↧";
    }
  }

}

}
